html {
    overflow-y: scroll
}

body {
    font-family: "Ubuntu Condensed", Arial, serif;
    font-weight: normal;
    min-height: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #fff;
    margin: 0
}

h1 {
    font-size: 40px
}

h2 {
    color: #9ec6dc;
    font-size: 28px
}

h5 {
    color: #51a0c0;
    font-size: 16px;
    margin: 8px 0 16px
}

input[type=text] {
    border: 0;
    background: #3b8ba4;
    border-radius: 6px;
    padding: 2px 4px 2px 5px;
    color: #baedf5
}

input[type=text]:focus {
    outline: 0;
    border: 0;
    box-shadow: inset 0 0 4px #baedf5
}

::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 15px;
    color: #baedf5
}

:-moz-placeholder {
    font-weight: bold;
    font-size: 15px;
    color: #baedf5
}

::-moz-placeholder {
    font-weight: bold;
    font-size: 15px;
    color: #baedf5
}

:-ms-input-placeholder {
    font-weight: bold;
    font-size: 15px;
    color: #baedf5
}

#credits-teaser {
    margin-top: 20px
}

#content, #page-content {
    width: 100%;
    margin: 0;
    padding: 0
}

#upper-content-left, #lower-content-left {
    margin-left: 100px;
    min-width: 430px;
    max-width: 520px;
    float: left;
    color: #51a0c0;
    margin-top: 20px;
    clear: both;
    font-size: 13px
}

#upper-content-right, #lower-content-right {
    float: left;
    margin-left: 50px;
    margin-top: 20px
}

#upper-content-right h2 {
    color: #97bac2
}

#user-balances {
    font-family: "Ubuntu", Arial, serif;
    font-size: 14px;
    position: absolute;
    top: 33px;
    right: 0;
    width: 280px;
    text-align: right;
    margin-right: 20px
}

#user-balances p {
    padding: 0;
    margin: 0;
    color: #377e9b
}

#user-balances img {
    margin-left: 8px;
    position: static
}

#user-balances p span.balance {
    color: #cbe1e8
}

#user-balances p span.multiplier {
    color: #edd174
}

#payment-methods {
    float: left;
    clear: both;
    width: 520px
}

#payment-methods h2 {
    border-top: 1px solid #466778;
    line-height: 45px;
    padding-left: 16px;
    margin-bottom: 4px;
    font-family: "Ubuntu Condensed", Arial, serif;
    font-size: 30px;
    color: #b1e796
}

#payment-mobile h1, #payment-mobile-form h1 {
    color: #c1cf75
}

#payment-methods ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 350px;
    float: left
}

#payment-methods .logos {
    float: left;
    width: 150px;
    padding: 0;
    margin: 8px 0 0 20px
}

#payment-methods .logos .logo {
    margin-bottom: 10px;
    display: block
}

#payment-methods li.pp {
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: relative;
    background-color: #002533;
    background-color: rgba(0, 37, 51, 0.7);
    cursor: pointer;
    border: 2px solid transparent;
    margin-top: 5px;
    font-family: "Ubuntu Condensed", Arial, serif;
    font-size: 18px
}

#payment-methods li.pp.disabled {
    cursor: default
}

#payment-methods li.pp .credits {
    color: #7d9da9
}

#payment-methods li.pp .credits .cost {
    color: #3d6666;
    float: right;
    padding-right: 10px;
    text-align: right;
    width: inherit
}

#payment-methods li.pp .credits .text {
    max-width: 70%
}

#payment-methods li.pp.hover {
    background-color: #1e5857;
    background-color: rgba(76, 156, 127, 0.4)
}

#payment-methods li.pp.hover .credits .cost {
    color: #7d9da9
}

#payment-methods li.pp.selected {
    background-color: #407358;
    border: 2px solid #b1e796;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

#payment-methods li.pp.selected .credits {
    color: #d1edf8
}

#payment-methods li.pp.selected .cost {
    opacity: .9;
    color: #faefda;
    text-shadow: 1px 1px 1px #100c08
}

#payment-methods li.pp.selected .cost .currency {
    color: #a8eab7
}

#payment-methods li.pp.inactive {
    cursor: default
}

#payment-methods li.pp.inactive .credits {
    color: #213a40
}

#payment-methods li.pp.inactive .credits .cost {
    color: #17343c
}

#payment-methods li.pp .keyword {
    font-weight: bold;
    margin-left: 15px;
    float: right;
    text-align: left;
    width: 120px
}

#payment-methods li.pp.keyword .credits {
    color: #d1edf8
}

#payment-methods li.pp.keyword .cost {
    opacity: .9;
    color: #faefda;
    text-shadow: 1px 1px 1px #100c08
}

#payment-methods li.pp.keyword .cost .currency {
    color: #a8eab7
}

#payment-methods .with-gift .cost {
    background-color: #d59910;
    border: 5px solid #ccca91
}

#payment-methods .with-gift .cost p {
    text-shadow: 2px 2px #9f500c
}

#payment-methods .best-deal .cost {
    background-color: #aa4731;
    border: 5px solid #c8b29e
}

#payment-methods .best-deal .cost p {
    text-shadow: 2px 2px #a14c1d
}

#payment-methods .credits {
    color: #d1edf8
}

.payment-method-group {
    margin-top: 15px
}

.payment-method-group h1 {
    color: #c1cf75
}

#payment-methods .smallprint {
    text-align: center;
    padding: 10px;
    width: 350px;
    font-size: 11px;
    color: #999;
    clear: both
}

#payment-methods .habboid-name {
    font-size: large
}

#payment-methods .habboid-container {
    background-color: #d1edf8;
    height: 27px;
    border: 2px solid transparent;
    margin-top: 5px;
    font-family: "Ubuntu Condensed", Arial, serif;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: none;
    display: block;
    width: 40%;
    text-align: center
}

#payment-methods .spending-limits {
    float: none;
    display: inline;
    text-align: left;
    padding: 10px;
    width: 350px;
    font-size: 11px
}

#upper-content-right h1, #lower-content-right h1 {
    margin-bottom: 4px
}

#credits-countries {
    clear: both
}

a.country {
    font-family: "Ubuntu Condensed", Arial, serif;
    color: #81959e;
    font-size: 16px
}

a.country:hover {
    color: #09c
}

#deal-promo {
    position: relative;
    width: 400px
}

#deal-promo h1 {
    color: #d4a1ce;
    font-size: 24px
}

.promo-bubble {
    position: relative;
    background-color: #351f47;
    background-color: rgba(105, 19, 81, 0.5);
    border: 3px solid #9e7893;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.promo-bubble p {
    color: #8b93b5;
    font-style: italic;
    font-weight: bold;
    margin-left: 70px;
    margin-right: 10px
}

#promo-icon {
    position: absolute;
    top: 5px;
    left: -25px
}

.payment-summary {
    font-size: 14px;
    color: #51a0c0
}

.payment-summary p {
    padding: 0;
    margin: 0
}

#upper-content #purchase-tabs {
    border-top: 1px solid #466778;
    background-color: #06222f;
    background-color: rgba(16, 16, 22, 0.35);
    font-family: "Ubuntu Condensed", Arial, serif;
    height: 35px;
    width: 100%;
    float: left;
    clear: both;
    padding: 0;
    font-size: 18pt;
    margin: 0;
    white-space: nowrap
}

#upper-content #purchase-tabs ul {
    margin: 0;
    padding: 0 0 0 95px;
    list-style-type: none
}

#upper-content #purchase-tabs ul li {
    display: inline;
    color: #466778
}

#upper-content #purchase-tabs a {
    text-decoration: none;
    color: #5198be
}

#upper-content #purchase-tabs a.purchase-tabs-selected {
    color: #97bac2
}

#upper-content #purchase-tabs a.purchase-option:hover {
    color: #c3eaff
}

#upper-content #purchase-tabs a.purchase-option.selected {
    color: #b1e796
}

.multiplier {
    font-style: italic;
    color: #c1cf75;
    font-size: 12px;
    font-weight: bold
}

.inactive .multiplier {
    color: #213a40
}

.icon {
    width: 30px;
    text-align: center
}

.icon, .text {
    float: left
}

.cost {
    float: right;
    width: 100px;
    text-align: center
}

.icon p, .text p, .cost p, .keyword p {
    padding: 0;
    margin: 0;
    line-height: 27px
}

.confirmation-section {
    float: left;
    width: 350px;
    text-align: right;
    margin-top: 20px
}

.phone-number-title {
    color: #e7f5ba;
    font-size: 10px
}

.confirmation-section p {
    margin-top: 0;
    margin-bottom: 0
}

.flat-input {
    background-color: #fff;
    color: #002b3c;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 27px;
    width: 230px;
    line-height: 27px;
    font-weight: bold;
    margin-top: 3px
}

.flat-input.blue {
    background-color: #9ec6dc;
    border: 2px solid #9ec6dc;
    color: #002b3c
}

.flat-input.error {
    background-color: #f37387;
    border: 2px solid #f37387;
    color: #ffc8d1
}

.flat-input.error::-webkit-input-placeholder {
    color: #ffc8d1
}

.flat-input.error:-moz-placeholder {
    color: #ffc8d1
}

.flat-input.error:-ms-input-placeholder {
    color: #ffc8d1
}

.flat-input:focus {
    outline: 0
}

input[type=button].red-button, button.red-button {
    background-color: #602145;
    border: 2px solid #f37387;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 30px;
    line-height: 20px;
    min-width: 84px;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 20px;
    font-size: 15px;
    height: 46px !important;
    line-height: 36px !important;
    min-width: 160px !important;
    margin-bottom: 10px
}

input[type=button].red-button:hover, input[type=submit].red-button:hover {
    background-color: #602145;
    border: 2px solid #ff9ccd
}

input[type=button].green-button, button.green-button {
    background-color: #00753f;
    border: 2px solid #79c151;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 30px;
    line-height: 20px;
    min-width: 84px;
    color: #e7f5ba;
    font-weight: bold;
    margin-left: 20px;
    font-size: 15px
}

input[type=button].green-button:hover, input[type=submit].green-button:hover {
    background-color: #01974e;
    border: 2px solid #b9f373
}

input[type=button].confirm-button, input[type=submit].confirm-button, button.confirm-button {
    background-color: #00753f;
    border: 2px solid #79c151;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 30px;
    line-height: 20px;
    min-width: 84px;
    color: #e7f5ba;
    font-weight: bold;
    margin-left: 20px;
    font-size: 15px
}

input[type=button].confirm-button.logo, input[type=submit].confirm-button.logo {
    height: 46px !important;
    line-height: 36px !important;
    min-width: 160px !important;
    margin-bottom: 10px
}

input[type=button].confirm-button:hover, input[type=submit].confirm-button:hover {
    background-color: #01974e;
    border: 2px solid #b9f373
}

.tooltip {
    position: absolute;
    top: -35px;
    left: 350px;
    width: 400px;
    height: 280px;
    margin-left: 5px;
    z-index: 1000;
    display: none;
    float: left;
    opacity: .96
}

.tooltip-top {
    border-top: 2px solid #5ba4c9;
    border-left: 2px solid #5ba4c9;
    border-right: 2px solid #5ba4c9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 37px;
    background-color: #24657c
}

.tooltip p {
    margin: 0;
    padding: 0
}

.tooltip-bundle-title {
    height: 19px;
    border-right: 2px solid #5ba4c9;
    float: left
}

.tooltip-bundle-spacer {
    border-left: 2px solid #5ba4c9;
    border-right: 2px solid #5ba4c9;
    height: 10px;
    background-color: #24657c;
    float: left;
    width: 396px
}

.tooltip-top p {
    font-family: "Ubuntu Condensed", Arial, serif;
    font-weight: normal;
    font-size: 14px;
    color: #97bac2;
    padding-left: 18px;
    padding-top: 12px
}

.tooltip-title p {
    font-family: "Ubuntu Condensed", Arial, serif;
    font-weight: normal;
    font-size: 16px;
    color: #cbe1e8;
    padding-left: 10px
}

.tooltip-bundle-title img {
    margin: 0;
    padding: 0;
    float: left
}

.tooltip-bundle-title div {
    float: left;
    margin: 0;
    padding: 0;
    width: 387px;
    background-color: #24657c
}

.tooltip-information {
    background-color: #002231;
    border-bottom: 2px solid #5ba4c9;
    border-left: 2px solid #5ba4c9;
    border-right: 2px solid #5ba4c9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 12px;
    float: left;
    color: #98c7da;
    width: 396px
}

.product-description-0 {
    max-width: inherit !important
}

.product-description-2 {
    max-width: 276px !important
}

.product-description-1 {
    max-width: 316px !important
}

.tooltip-information p {
    text-align: justify;
    float: left;
    max-width: 236px;
    padding: 6px 10px 10px
}

.tooltip-information img {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px
}

.tooltip-show {
    display: block
}

.tooltip-hide {
    display: none
}

.product-images {
    height: 100%;
    max-width: 120px;
    float: left;
    margin: 10px
}

.product-image {
    float: left;
    width: 40px;
    height: 40px
}

.product-image img {
    vertical-align: middle;
    margin: 0
}

.product-image .vertical-aligner {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.product-count {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    background-color: #00753e;
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 10px;
    margin-left: -7px;
    margin-top: 20px
}

#confirmation-container {
    position: relative;
    background-color: #0a3344;
    background-color: rgba(10, 51, 68, 0.95);
    width: 600px;
    border: 2px solid #5b85a5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    min-height: 200px
}

#purchase-options-lower {
    clear: both;
    width: 100%;
    padding-top: 15px
}

.confirm-email-input {
    margin: 0;
    padding: 0
}

#bottom-content #confirmation-container h1 {
    color: #51a0c0;
    font-weight: bold;
    font-size: 30pt;
    margin: 0;
    padding: 0;
    width: inherit
}

div.disclaimer {
    margin: 0 10px
}

#purchase-options-lower div.disclaimer {
    font-size: 10px;
    color: #105b76
}

#purchase-options-lower div.disclaimer a {
    color: #2a77a3
}

#purchase-options-lower div.disclaimer h3 {
    font-weight: bold
}

.disclaimer-confirm {
    width: 100%;
    background-color: #082735;
    background-color: rgba(0, 0, 0, 0.2)
}

.disclaimer-confirm p {
    padding: 5px 30px;
    margin: 0;
    color: #51a0c0;
    font-size: 12px
}

.disclaimer-confirm label {
    font-weight: bold;
    color: #5198be;
    font-size: 14px
}

#confirm-car {
    position: absolute;
    top: 60px;
    left: -70px
}

#cancel-frank {
    position: absolute;
    top: 20px;
    left: -70px
}

#vouchers {
    width: 650px;
    height: 75px;
    background-color: #15495b;
    background-color: rgba(42, 102, 121, 0.5);
    border: 3px solid #357e99;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

#vouchers.error {
    background-color: #602145;
    background-color: rgba(192, 23, 78, 0.5);
    border: 3px solid #f37387;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.vouchers-left {
    float: left;
    width: 270px;
    height: 75px;
    background: url('/web-img/img/arrow_default.png') no-repeat 180px 10px
}

.vouchers-left p {
    float: left;
    margin: 0;
    padding: 20px 0 0 15px;
    width: 150px
}

#vouchers.error .vouchers-left {
    background: url('/web-img/img/arrow_error.png') no-repeat 180px 10px
}

#vouchers.error .vouchers-left p {
    color: #f37387
}

#vouchers.success .vouchers-left p {
    color: #7dc656
}

.vouchers-left img {
    float: right;
    padding-top: 10px
}

.vouchers-right {
    margin-top: 12px;
    float: left;
    margin-left: 10px
}

.vouchers-right p {
    margin: 0;
    padding: 0
}

.voucher-number-input {
    background-color: #3b8ba4;
    color: #baedf5;
    text-align: center;
    border: 2px solid #3b8ba4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 27px;
    width: 230px;
    line-height: 27px;
    font-weight: bold;
    margin-top: 3px;
    font-size: 14px
}

.voucher-number-input:focus::-webkit-input-placeholder {
    color: transparent
}

#vouchers.error .voucher-number-input {
    background-color: #f37387;
    border: 2px solid #f37387;
    color: #ffc8d1
}

.registration-purchase-content #lower-content-top * {
    color: #baedf5
}

.registration-purchase-content #lower-content-top h4 {
    width: 500px
}

.registration-purchase-content #lower-content-top > div:nth-child(1) {
    width: 600px;
    padding-left: 120px
}

.registration-purchase-content #lower-content-top > div:nth-child(1) > span:nth-child(2) {
    float: right;
    position: absolute;
    padding-left: 20px
}

.registration-purchase-content #payment-methods {
    display: block
}

.registration-purchase-content #hc-product-info #confirm-details-wrapper {
    width: 100%
}

.registration-purchase-content #hc-product-info #confirm-details-top > div:nth-child(1) {
    float: left;
    padding-left: 5px;
    text-align: left
}

.registration-purchase-content #hc-product-info #confirm-details-top > div:nth-child(2) {
    float: right;
    padding-left: 50px
}

.registration-purchase-content #hc-product-info #confirm-details {
    margin-bottom: 20px;
    width: 95%
}

.registration-purchase-content #hc-product-info #confirm-details > div:nth-child(1) > div:nth-child(1) {
    width: 250px;
    float: left;
    text-align: left
}

.registration-purchase-content #hc-product-info #confirm-details > div:nth-child(2) {
    float: right;
    padding-left: 10px;
    border-left: 2px solid #3b8ba4;
    height: 101%
}

.registration-purchase-content #registration-product-name {
    width: 120%
}

.registration-purchase-content #hc-product-info #confirm-details > div:nth-child(2) > p:nth-child(1) {
    float: right;
    padding-right: 10px;
    text-align: right
}

.registration-purchase-content #disclaimer {
    display: block;
    position: absolute;
    margin-top: 200px;
    left: 300px;
    float: right
}

.registration-purchase-content #braintree-payment-form {
    margin-top: -430px !important;
    margin-left: -430px !important
}

#back-to-registration-btn {
    margin-left: 0
}

#back-to-registration-btn.green-button {
    width: 160px;
    height: 46px;
    margin-top: 20px
}

.voucher-number-input::-webkit-input-placeholder {
    color: #baedf5
}

.voucher-number-input:-moz-placeholder {
    color: #baedf5
}

.voucher-number-input:-ms-input-placeholder {
    color: #baedf5
}

#vouchers.error .voucher-number-input::-webkit-input-placeholder {
    color: #ffc8d1
}

#vouchers.error .voucher-number-input:-moz-placeholder {
    color: #ffc8d1
}

#vouchers.error .voucher-number-input:-ms-input-placeholder {
    color: #ffc8d1
}

.voucher-number-input:focus {
    outline: 0
}

#vouchers p {
    color: #cbe1e8;
    font-size: 13px
}

#bottom-content {
    clear: both;
    width: 650px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto
}

a.moreinfo {
    color: #ccc
}

#bottom-content h1 {
    font-family: "Ubuntu Condensed", Arial, serif;
    font-weight: normal;
    font-size: 24px;
    color: #97b9c1;
    margin-bottom: 4px
}

#bottom-content h2 {
    font-family: "Ubuntu Condensed", Arial, serif;
    font-weight: normal;
    font-size: 16px;
    color: #81959e;
    margin-bottom: 10px
}

#bottom {
    width: 650px;
    clear: both;
    float: left;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px
}

.bottom-left {
    text-align: center;
    font-size: 13px;
    float: left;
    width: 300px
}

.content-divider {
    border-color: #466778;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 20px
}

.bottom-divider {
    border-color: #466778;
    width: 80%;
    margin-left: auto;
    margin-right: auto
}

.bottom-right {
    text-align: center;
    font-size: 13px;
    float: right;
    width: 300px
}

.bottom-countries {
    color: #245e71
}

.bottom-right ul {
    margin: 0;
    padding: 0
}

.bottom-right li {
    display: inline;
    margin: 0 3px
}

.bottom-countries a {
    color: #245e71;
    text-decoration: underline
}

span.large {
    color: #c1cf75;
    text-decoration: underline
}

p.important {
    color: #d00
}

p.important img {
    margin-left: 6px
}

p.disclaimer {
    color: #81959e;
    font-family: "Ubuntu Condensed", Arial, serif
}

.past-transactions {
    text-decoration: underline
}

.past-transactions a {
    color: #baedf5
}

#page-content {
    left: 0
}

#confirmation-modal {
    clear: both;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 20000
}

#confirmation-modal h2 {
    font-family: "Ubuntu Condensed", Arial, serif;
    font-weight: normal;
    font-size: 30pt;
    color: #5198be;
    margin-bottom: 4px;
    text-align: left
}

.confirm-email {
    color: #72abc2;
    font-size: 11pt;
    font-weight: bold;
    margin: 0;
    padding: 0
}

.confirm-email span.error {
    color: #f37387
}

.credits-terms-desc {
    color: #ce9d9d !important;
    font-size: 10px
}

.credits-terms-link {
    color: #8cb5b8;
    font-size: 10px
}

.popup-hr {
    border-color: #466778;
    width: 80%;
    margin-left: auto;
    margin-right: auto
}

#confirm-details-wrapper {
    width: 505px;
    margin-left: auto;
    margin-right: auto
}

#payment-result {
    width: 492px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    float: left
}

#modalless-payment #confirmation-container {
    width: inherit;
    padding: 10px
}

#modalless-payment #braintree-payment-form {
    padding: inherit
}

#upper-content-lower {
    clear: both;
    float: left;
    width: 100%
}

#confirm-details {
    width: 505px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #0f758e;
    background-color: rgba(22, 219, 255, 0.4);
    height: 27px;
    border: 2px solid #96e2e7;
    font-family: "Ubuntu Condensed", Arial, serif;
    font-size: 18px;
    float: left;
    margin-top: 5px
}

#payment-form {
    text-align: left;
    width: 505px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-family: "Ubuntu Condensed", Arial, serif;
    font-size: 18px;
    margin-top: 30px;
    float: left
}

.payment-form-error {
    background-color: #602145;
    background-color: rgba(192, 23, 78, 0.5);
    border: 3px solid #f37387;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px
}

#braintree-lower {
    margin-left: 57px;
    clear: both
}

.no-modal-voucher-box {
    padding-bottom: 6px;
    height: inherit !important;
    display: inline-block;
    width: 422px !important
}

#braintree-lower .disclaimer {
    margin: 0;
    font-size: 10px
}

#braintree-payment-form {
    padding-top: 143.5px
}

#confirm-details-wrapper #confirm-car {
    position: absolute;
    top: 272px;
    left: inherit;
    right: -65px
}

#confirm-details-top .confirm-product {
    border-right: 1px solid #002f42
}

#confirm-details-top .confirm-price {
    border-right: 1px solid #002f42
}

#confirm-details-top div {
    margin-top: 25px;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold
}

#confirm-details-wrapper div p {
    padding: 0;
    margin: 0
}

#confirm-details-wrapper .confirm-product {
    width: 250px;
    float: left;
    text-align: center
}

#confirm-details-wrapper .confirm-product p {
    word-break: break-all
}

#confirm-details-wrapper .confirm-price {
    width: 118px;
    float: left;
    text-align: center
}

#confirm-details-wrapper .confirm-recipient {
    width: 133px;
    float: left;
    text-align: center
}

#close-popup {
    position: absolute;
    top: -20px;
    right: 5px
}

#close-popup a {
    color: #466778;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px
}

.mobile {
    background: url('/web-img/img/option_icons.png') no-repeat -2px 0;
    width: 30px;
    height: 30px;
    display: inline-block
}

.selected .mobile {
    background: url('/web-img/img/option_icons.png') no-repeat -2px -35px;
    width: 30px;
    height: 30px;
    display: inline-block
}

.online {
    background: url('/web-img/img/option_icons.png') no-repeat -35px 0;
    width: 30px;
    height: 30px;
    display: inline-block
}

.selected .online {
    background: url('/web-img/img/option_icons.png') no-repeat -35px -35px;
    width: 30px;
    height: 30px;
    display: inline-block
}

.prepaid {
    background: url('/web-img/img/option_icons.png') no-repeat -70px 0;
    width: 30px;
    height: 30px;
    display: inline-block
}

.selected .prepaid {
    background: url('/web-img/img/option_icons.png') no-repeat -70px -35px;
    width: 30px;
    height: 30px;
    display: inline-block
}

.subscription {
    background: url('/web-img/img/option_icons.png') no-repeat -105px 0;
    width: 30px;
    height: 30px;
    display: inline-block
}

.selected .subscription {
    background: url('/web-img/img/option_icons.png') no-repeat -105px -35px;
    width: 30px;
    height: 30px;
    display: inline-block
}

.landline {
    background: url('/web-img/img/option_icons.png') no-repeat -140px 0;
    width: 30px;
    height: 30px;
    display: inline-block
}

.selected .landline {
    background: url('/web-img/img/option_icons.png') no-repeat -140px -35px;
    width: 30px;
    height: 30px;
    display: inline-block
}

.other {
    background: url('/web-img/img/option_icons.png') no-repeat -180px 0;
    width: 25px;
    height: 30px;
    display: inline-block
}

.selected .other {
    background: url('/web-img/img/option_icons.png') no-repeat -180px -35px;
    width: 25px;
    height: 30px;
    display: inline-block
}

.field-error {
    background-color: #c0174e;
    color: #fff;
    clear: both;
    margin: 0 0 2px 0;
    padding: 2px 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px
}

#left-content {
    margin-left: 120px;
    float: left
}

#right-content {
    margin-left: 35px;
    float: left;
    width: 410px
}

#right-content p {
    color: #9ec6dc;
    font-size: 14px;
    font-family: 'Ubuntu Condensed', sans-serif
}

#right-content hr {
    margin: 0 0 15px
}

#success {
    color: #fff;
    font-size: 24px;
    margin: 2px;
    padding: 0
}

.input-button {
    background-color: #00753f;
    border: 2px solid #79c151;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 30px;
    width: 130px;
    color: #e7f5ba;
    font-weight: bold;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto
}

.input-button-braintree {
    width: 50%;
    margin: 10px 0 10px 0
}

#purchase-reference {
    text-align: center;
    width: 400px;
    background-color: #005269;
    background-color: rgba(0, 120, 149, 0.5);
    border: 4px solid #007993;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    opacity: .7;
    padding-bottom: 15px;
    margin-top: 15px
}

#purchase-reference-table {
    width: 340px;
    margin-left: auto;
    margin-right: auto
}

#purchase-reference-table tr td {
    width: 1px;
    text-align: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: normal
}

.purchase-reference-title {
    color: #638d99;
    font-size: 10px
}

#name {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #97bac2;
    font-weight: normal
}

.divider {
    border-color: #466778;
    width: 340px
}

#purchase-info p {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 36px;
    margin: 0
}

.payment-summary a {
    text-decoration: underline;
    color: #51a0c0
}

.payment-summary ol {
    padding: 0 0 0 20px
}

.purchase-info-x {
    color: #c1cf75;
    font-style: italic;
    font-size: 26px
}

.purchase-info-quantity {
    color: #d1edf8
}

#purchase-buttons {
    margin: 10px 0 0;
    padding: 0
}

#event-playback-cursor {
    display: none;
    position: absolute;
    z-index: 90;
    width: 22px;
    height: 22px;
    background: url(/web-img/img/arrow.png) 0 0 no-repeat
}

#event-playback-cursor .disc {
    display: none;
    z-index: 80;
    margin: -18px 0 0 -18px;
    padding: 0;
    width: 44px;
    height: 44px;
    opacity: .30;
    background: url(/web-img/img/disc.png) 0 0 no-repeat
}

#event-playback-cursor .disc.yellow {
    background-position: 0 0
}

#event-playback-cursor .disc.blue {
    background-position: -44px 0
}

#event-playback-cursor .disc.red {
    background-position: -88px 0
}

#subscription-left-content ul li {
    color: #51a0c0
}

#subscription-content-left p {
    color: #51a0c0;
    font-size: 16px
}

#subscription-status {
    margin-left: 50px
}

#subscription-left-content {
    font-size: 13px
}

#subscription-left-content h5 {
    margin-top: 0;
    font-size: 13px
}

#lower-content h1, #upper-content h1 {
    width: 430px
}

#upper-content h1 {
    padding-left: 100px
}

#lower-content h1.underlined, #upper-content h1.underlined {
    border-bottom: 1px solid #466778
}

#lower-content #subscription-content-left p {
    width: 100%
}

#lower-content #subscription-left-content ul {
    padding: 0 0 0 15px
}

.subscription-management {
    position: relative;
    border-radius: 6px;
    border: 2px solid #357e99;
    background: rgba(42, 102, 121, .5);
    width: 397px
}

.subscription-management p {
    font-size: 13px;
    margin: 10px
}

.subscription-management img {
    margin: 10px
}

.subscription-management .subscription-status {
    padding: 2px 0 2px 10px;
    border-bottom: 1px solid #357e99;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    height: 20px
}

.subscription-status div {
    float: left;
    margin-right: 20px
}

.subscription-management.builders .amounts input, .subscription-management.credits .amounts input {
    float: right;
    margin: 8px 10px 8px 0
}

.subscription-management .subscription-status .subscription-active {
    text-transform: uppercase;
    color: #11c1d8
}

.subscription-management .subscription-status .subscription-inactive {
    text-transform: uppercase;
    color: #c0174e
}

.subscription-management .subscription-management-bottom {
    width: 100%;
    background: #122c38 url('/web-img/img/bg_texture_1.out.png') fixed;
    display: inline-block
}

.subscription-management .subscription-info {
    position: absolute;
    top: 10px;
    left: -40px;
    width: 127px;
    height: 132px;
    background-image: url('/web-img/img/subscription/sun.png')
}

.subscription-management .subscription-info img {
    margin: 0
}

.subscription-management .subscription-info .inner {
    text-align: center;
    font-family: "Ubuntu", Arial, serif;
    font-weight: bold;
    line-height: .7;
    color: #ff9;
    font-size: 36px;
    margin: 41px 0 0 -6px;
    text-shadow: 0 1px rgba(0, 0, 0, .5)
}

.subscription-management.builders .subscription-info .inner {
    font-size: 32px;
    margin: 54px 0 0 -6px
}

.subscription-management .subscription-info .inner span {
    padding: 0;
    color: #ffed55;
    font-size: 24px
}

.subscription-management-bottom .amounts {
    float: left;
    color: #1e88ab;
    width: inherit
}

.subscription-management-bottom .amounts span {
    margin-left: 10px;
    color: #fff
}

.amounts table {
    font-size: 14px;
    width: inherit
}

.amounts table td.img {
    width: 38px
}

.subscription-management-bottom .amounts a {
    float: right;
    margin: 20px 0 0 0
}

.subscription-management-footer {
    width: 100%;
    text-align: center;
    margin: 3px 0 4px;
    font-size: 12px
}

.purse-box {
    position: relative;
    border-radius: 6px;
    border: 2px solid #357e99;
    background: rgba(42, 102, 121, .5);
    width: inherit;
    display: inline-block;
    margin-bottom: 110px
}

.purse-box .purse {
    padding: 10px;
    color: #97bac2
}

.purse-box .purse .purse-wrapper {
    background: url('/web-img/img/purse.png') no-repeat;
    padding-left: 60px;
    font-weight: bold;
    font-size: 13px;
    font-family: "Ubuntu", Arial, serif;
    margin-bottom: 10px
}

.purse-box .purse .purse-wrapper span {
    font-size: 24px;
    color: #d1edf8
}

.purse-box .purse a {
    font-size: 12px;
    padding-left: 60px;
    font-family: "Ubuntu", Arial, serif;
    color: #97bac2
}

.purse-box .purse input[type=text] {
    margin-top: 20px;
    width: 190px
}

.transaction-history > thead > tr:nth-child(odd) > td, .transaction-history > thead > tr:nth-child(odd) > th {
    background: rgba(16, 16, 22, .4)
}

.transaction-history > tbody > tr:nth-child(odd) > td, .transaction-history > tbody > tr:nth-child(odd) > th {
    background: rgba(16, 16, 22, .4)
}

.transaction-history {
    font-family: "Ubuntu", Arial, serif;
    margin: 0 0 0 -165px
}

.transaction-history td {
    width: 150px
}

.transaction-history th {
    text-align: left;
    width: 150px
}

.transaction-history .head {
    font-weight: bold
}

.transaction-history .head a {
    font-family: "Ubuntu Condensed", Arial, serif;
    color: #9ec6dc;
    font-size: 16px
}

.transaction-history .descriptions {
    height: 33px;
    vertical-align: bottom;
    color: #51a0c0
}

.transaction-history .offset {
    width: 0;
    padding: 0 0 0 165px
}

.transactions img {
    margin: 60px 0 0 60px
}

.offers-box {
    position: relative;
    border-radius: 6px;
    border: 2px solid #357e99;
    background: rgba(42, 102, 121, .5);
    width: 780px;
    margin-bottom: 110px
}

.offers-box p {
    margin: 10px 10px 0;
    font-weight: bold;
    color: #97bac2;
    text-align: center
}

.offers-box iframe {
    border-radius: 4px;
    margin: 10px
}

#offers-teaser {
    margin: 60px 0 0 60px
}

.loyalty-image {
    background: url('/web-img/img/diamond_background.png') 750px no-repeat;
    position: absolute;
    top: 89px;
    width: 100%;
    height: 180px
}

.loyalty-header h1 {
    padding: 0;
    float: left;
    width: inherit !important;
    border-bottom: 0 !important
}

.loyalty-header {
    border-bottom: 1px solid #466778;
    display: inline-block;
    float: left
}

.loyalty-header div {
    font-family: "Ubuntu", Arial, serif;
    margin: 26px 0 0 30px;
    vertical-align: bottom;
    display: block;
    float: left;
    color: #377e9b
}

.loyalty-header img {
    margin: 0 3px 0 4px
}

.loyalty-header .balance {
    font-size: 14px;
    margin-left: 4px;
    color: #cbe1e8
}

.subscription-header {
    width: 420px
}

#cancel-subscription-explanation {
    color: #72abc2;
    margin-left: 85px;
    margin-right: 30px;
    margin-top: 20px;
    text-align: left
}

#cancel-subscription-confirmation {
    margin-top: 40px;
    margin-left: 85px;
    margin-right: 40px;
    font-weight: bold;
    font-size: 18px;
    text-align: left
}

#cancel-subscription-confirmation-input {
    margin-right: 20px;
    float: right
}

.credit-pile-img {
    margin: 10px;
    background: url('/web-img/img/credit_icons.png') no-repeat 0 0;
    height: 16px;
    width: 17px
}

.credit-img {
    margin: 10px;
    background: url('/web-img/img/credit_icons.png') no-repeat -17px 0;
    height: 16px;
    width: 17px
}

.time-img {
    margin: 5px 10px 5px 10px;
    background: url('/web-img/img/credit_icons.png') no-repeat -34px 0;
    height: 16px;
    width: 17px
}

.furni-img {
    margin: 5px 10px 5px 10px;
    background: url('/web-img/img/credit_icons.png') no-repeat -51px 0;
    height: 16px;
    width: 17px
}

.payment-box {
    height: 526px;
    width: 541px;
    margin-top: 0 !important;
    top: 142px !important;
    border: 1px solid #357e99;
    border-radius: 6px
}

a.anchor {
    display: block;
    position: relative;
    top: -130px;
    visibility: hidden
}