<html>
<head>
    <link rel="stylesheet" href="/web-img/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="/web-img/css/foundation.css" type="text/css"/>
</head>
<body>
<br><br><br><br>

<div class="row">
    <div class="large-3 columns"><br/></div>
    <div class="large-6 columns">
        <h5><i class="fa fa-exclamation-triangle"></i> Error</h5>

        <div data-alert class="alert-box alert">
            {{error_message}}
        </div>
    </div>
    <div class="large-3 columns"><br/></div>
</div>
</div>

</body>
</html>
