<div class="footer">
    <div class="wrapper">
        <div class="footer__media"><p class="footer__media__label" translate="">Siga o Habbo Hotel</p>
            <ul>
                <li class="footer__media__item"><a
                        href="https://www.facebook.com/HabboHotel"
                        class="icon__button"><span
                        class="icon--facebook--footer"></span></a></li>
                <li class="footer__media__item"><a href="https://twitter.com/HabboPTBR" class="icon__button"><span
                        class="icon--twitter--footer"></span></a></li>
            </ul>
        </div>
        <div class="footer__content">
            <ul class="footer__nav">
                <li class="footer__nav__item"><a href="mailto: advertising@sulake.com?">Anuncie</a></li>
                <li class="footer__nav__item"><a href="https://help.habbo.com.br">Contate-nos</a></li>
                <li class="footer__nav__item"><a href="https://help.habbo.com.br/forums">FAQs</a></li>
                <li class="footer__nav__item"><a href="https://santoro.pw">sant0ro</a></li>
                <li class="footer__nav__item"><a
                        href="https://help.habbo.com.br/entries/20477982-termos-e-condicoes">Termos e Condições</a>
                </li>
                <li class="footer__nav__item"><a
                        href="https://help.habbo.com.br/entries/390888-politica-de-privacidade">Política de
                    Privacidade</a></li>
                <li class="footer__nav__item"><a
                        href="https://help.habbo.com.br/entries/390888-politica-de-privacidade">Política de
                    Privacidade</a></li>
                <li class="footer__nav__item"><a
                        href="https://help.habbo.com.br/forums/311751-informacoes-para-os-pais">Guia dos Pais</a>
                </li>
                <li class="footer__nav__item"><a href="https://www.Habbo.com.br/safety/habbo_way">Habbo Etiqueta</a>
                </li>
                <li class="footer__nav__item"><a href="https://www.Habbo.com.br/safety/safety_tips">Segurança</a>
                </li>
            </ul>
            <p class="footer__copyright">2017 Habbo Hotel - Não Possuimos Nenhum Vínculo com a Sulake Corporation Oy</p><a
                href="https://Habbo.com" class="footer__sulake">AzureWEB</a>
        </div>
    </div>
</div>
</body>
</html>