<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Habbo</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css"
          href="{{gallery_url}}/web-img/css/maintenance.css">
    <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
    <script>!function () {
        var e = document.createElement("link"), t = document.getElementsByTagName("script")[0];
        "http:" !== window.location.protocol && "https:" !== window.location.protocol && (e.href = "http:"), e.href += "//fonts.googleapis.com/css?family=Ubuntu:regular,bold|Ubuntu+Condensed:lighter,regular,bold", e.rel = "stylesheet", e.type = "text/css", t.parentNode.insertBefore(e, t)
    }()</script>
</head>
<body>