<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    Options -Indexes

    RewriteEngine On

    # Habbo Web Assets
    RewriteRule ^habbo-web/(.*)$ public/habbo-web/$1 [L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^.*$ index.php [L]
</IfModule>
