<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <rewrite>
      <rules>
        <rule name="rule 1s" stopProcessing="true">
	  <match url="^habbo-web/(.*)$"  />
	  <action type="Rewrite" url="/public/habbo-web/{R:1}"  />
        </rule>
        <rule name="rule 2s">
	  <match url="^habbo-imaging/badge/([^/]+)"  />
	  <action type="Rewrite" url="/public/habbo-imaging/badge.php?badge={R:1}"  />
        </rule>
        <rule name="rule 3s" stopProcessing="true">
	  <match url="^.*$"  />
	  <action type="Rewrite" url="/index.php"  />
        </rule>
      </rules>
    </rewrite>
  </system.web>
</configuration>
