<h1>Como jogar</h1>
<p>Depois de montar o seu visual super style, descansar confortavelmente no seu mega quarto e conferir as dicas de Frank, o Staff do Hotel, o que mais voc&#xEA; pode fazer?</p>
<p>Aqui v&#xE3;o algumas ideias:</p>
<p><img src="https://habboo-a.akamaihd.net/c_images/HowToPlay/navigator_br.png" alt="Navegador" class="align-right"></p>
<h3>Explore os quartos</h3>
<p>Clique no navegador e escolha qualquer um dos Quartos P&#xFA;blicos onde voc&#xEA; pode conhecer outros Habbos e fazer novos amigos.</p>
<hr>
<p><img src="https://habboo-a.akamaihd.net/c_images/HowToPlay/ask_friend_br.png" alt="Fa&#xE7;a amigos" class="align-right"></p>
<h3>Fa&#xE7;a amigos</h3>
<p>Clique em qualquer Habbo e pe&#xE7;a a sua amizade ou d&#xEA; respeitos. Voc&#xEA; vai fazer v&#xE1;rios amigos!</p>
<hr>
<p><img src="https://habboo-a.akamaihd.net/c_images/HowToPlay/citizenship_br.png" alt="Cidadania Habbo" class="align-right"></p>
<h3>Complete a sua Cidadania Habbo</h3>
<p>Para conhecer melhor o Habbo Hotel, que tal come&#xE7;ar clicando na Ferramenta de Ajuda no canto superior direito da tela?</p>
<hr>
<p><img src="https://habboo-a.akamaihd.net/c_images/HowToPlay/gamehub_br.png" alt="Sala de Jogos" class="align-right"></p>
<h3>Visite a Sala de jogos</h3>
<p>Procure a Sala de Jogos na lista de quartos p&#xFA;blicos no Navegador. Quando chegar l&#xE1;, use qualquer uma das m&#xE1;quinas para ir a um quarto de jogo diferente!</p>
<hr>
<p><img src="https://habboo-a.akamaihd.net/c_images/HowToPlay/shop.png" alt="Habbo Loja" class="align-right"></p>
<h3>V&#xE1; de compras</h3>
<p>D&#xEA; uma passadinha na se&#xE7;&#xE3;o de Duckets da Habbo Loja e veja tudo o que voc&#xEA; pode fazer com os Duckets gr&#xE1;tis que voc&#xEA; recebe diariamente!</p>
<hr>
<h3>Confira as &#xFA;ltimas atividades</h3>
<p>Visite a se&#xE7;&#xE3;o <a href="/">In&#xED;cio</a> do Habbo Hotel para saber tudo sobre as &#xFA;ltimas not&#xED;cias, competi&#xE7;&#xF5;es e o que est&#xE1; rolando pelo Hotel.</p>
<p>Depois de fazer tudo isso, voc&#xEA; j&#xE1; poder&#xE1; se considerar um cidad&#xE3;o Habbo de primeira categoria!</p>
<blockquote>
<h3>Entre agora!</h3>
<p>N&#xE3;o se registrou ainda no Habbo Hotel? <a href="/registration">Entre Agora</a>!</p>
</blockquote>
