<h1>Earn credits</h1>
<p>Now you can earn Habbo Credits by completing selected offers and surveys! Here&apos;s how:</p>
<ol>
    <li>Select the amount of Credits you&apos;d like to earn by clicking on an offer below</li>
    <li>Follow the instructions on how to earn your Credits</li>
    <li>You will see the Credits in your Purse. If your Credits don&apos;t arrive right away, you can check when they
        will be delivered by clicking &apos;Support&apos; under the list of offers below.
    </li>
</ol>
<p>&#x2026; and that&apos;s it! Have fun spending your Habbo Credits! If you are missing Credits for completed offers,
    please contact the offer provider through the &apos;Support&apos; link at the bottom of the list below.</p>
<p><em>Please note: Read the offer details carefully before choosing</em>, including the fine print. Some offers may
    require payment!</p>
