<p style="color: #003366; font-size: 14pt; max-width: 700px;"><img
        src="https://i.imgur.com/mdQdGoL.png" alt="Habbo Logo"></p>
<div style="border-top: 1px solid
#003366; padding: 25px 0 0; max-width: 700px;"></div><p style="color: 
#003366; font-size: 14pt; max-width: 700px;">Hey there {{mail_username}}!</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">A yellow ducky
    told us that you requested to change your email address of the {{hotel_name}}
    account to the email address:
    {{mail_email}}</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">If you requested
    this change, you can disregard this email.</p><p style="color: #003366;
font-size: 14pt; max-width: 700px;">If you did not request this change, we
    recommend that you <a style="color: #0099CC;" title=""
                          href="https://help.habbo.com">contact us</a> as soon as possible.</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">&#x2013; {{hotel_name}}
    Staff</p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0;
max-width: 700px;"></div><h5 style="font-weight: normal; font-size: 10pt; 
max-width: 700px;">&#xA9; 2017 AzureWEB</h5>