<p style="color: #003366; font-size: 14pt; max-width: 700px;"><img
        src="http://i.imgur.com/LnANFeu.gif" alt="Habbo Logo"></p>
<div style="border-top: 1px solid
#003366; padding: 25px 0 0; max-width: 700px;"></div><p style="color: 
#003366; font-size: 14pt; max-width: 700px;">Olá {{mail_username}}!</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">Um patinho amarelo me contou que você gostaria de
    mudar seu e-mail no {{hotel_name}}
    da conta do respectivo e-mail:
    {{mail_email}}</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">Se foi você que mudou, então ignore esse e-mail.</p>
<p style="color: #003366;
font-size: 14pt; max-width: 700px;">Se você não pediu a alteração de e-mail, entre em contato o mais rápido possível
    conosco <a style="color: #0099CC;" title=""
               href="mailto:contato@Habbo.com">clicando aqui.</a> imediatamente.</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">&#x2013; Equipe {{hotel_name}}</p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0;
max-width: 700px;"></div><h5 style="font-weight: normal; font-size: 10pt; 
max-width: 700px;">&#xA9; 2017 AzureWEB</h5>