<p style="color: #003366; font-size: 14pt; max-width: 700px;"><img src="http://i.imgur.com/LnANFeu.gif"
                                                                   alt="Habbo Logo"></p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0; max-width: 700px;"></div>
<p style="color: #003366; font-size: 14pt; max-width: 700px;">Olá {{mail_username}}</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">Um patinho amarelo nos contou que você se registrou
    no {{hotel_name}} com este e-mail: {{mail_email}}</p>
<p style="color: #003366; font-size: 14pt; max-width: 700px;">
    <a style="color: #0099CC;" title="" href="{{confirm_url}}">Clique aqui para ativar a sua conta.</a></p><p style="color: #003366;
font-size: 14pt; max-width: 700px;"><br></p><p style="color: #003366; 
font-size: 14pt; max-width: 700px;">&#x2013; Equipe do {{hotel_name}}</p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0; max-width:700px;"></div><h5 style="font-weight: normal; font-size: 10pt; max-width:
700px;">&#xA9; 2017 AzureWEB</h5><h4>#</h4>