<p style="color: #003366; font-size: 14pt; max-width: 700px;">
    <img src="https://i.imgur.com/mdQdGoL.png" alt="Habbo Logo"></p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0; max-width: 700px;"></div>
<p style="color: #003366; font-size: 14pt; max-width: 700px;">Hey there {{mail_username}}</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">A yellow ducky told us that you have registered to be
    the Azure user with the email {{mail_email}}</p>
<p style="color: #003366; font-size: 14pt; max-width: 700px;">
    <a style="color: #0099CC;" title="" href="{{confirm_url}}">Click
        here to securely activate your account</a></p><p style="color: #003366;
font-size: 14pt; max-width: 700px;"><br></p><p style="color: #003366; 
font-size: 14pt; max-width: 700px;">&#x2013; {{hotel_name}} Staff</p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0; max-width:700px;"></div><h5 style="font-weight: normal; font-size: 10pt; max-width:
700px;">&#xA9; 2017 AzureWEB</h5><h4>#</h4>