<p style="color: #003366; font-size: 14pt; max-width: 700px;"><img src="http://i.imgur.com/LnANFeu.gif"
                                                                   alt="Habbo Logo"></p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0; max-width: 700px;"></div><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">Olá {{mail_username}}!</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">Um patinho amarelo me contou que você gostaria de
    resetar a senha da conta associada a
    {{mail_email}}</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">O link de reset da senha é este, e irá expirar em 24
    horas: </p><p style="color: #003366; font-size: 14pt; max-width: 700px;"><a style="color: #0099CC;" title=""
                                                                                href="{{confirm_url}}">Clique aqui para
    resetar sua senha.</a><br><br></p><p style="color: #003366; font-size: 14pt; max-width: 700px;">
    Se você não requisitou o reset da senha, simplesmente ignore esse e-mail</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">Se você está com problemas de segurança <a
        style="color: #0099CC;" title="" href="https://help.habbo.com/anonymous_requests/new">entre em contato
    conosco.</a>.
</p><p style="color: #003366; font-size: 14pt; max-width: 700px;">A gente se vê,</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">&#x2013; Equipe do {{hotel_name}}</p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0; max-width: 700px;"></div><h5
        style="font-weight: normal; font-size: 10pt; max-width: 700px;">&#xA9; 2017 AzureWEB</h5>