<p style="color: #003366; font-size: 14pt; max-width: 700px;">
    <img src="https://i.imgur.com/mdQdGoL.png" alt="Habbo Logo"></p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0; max-width: 700px;"></div><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">Hey there {{mail_username}}!</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">A yellow ducky told us that you need to reset your
    password for the {{hotel_name}} account connected to
    {{mail_email}}</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">The link below will expire in 48 hours, so be
    quick!</p><p style="color: #003366; font-size: 14pt; max-width: 700px;">
    <a style="color: #0099CC;" href="{{confirm_url}}">Click
    here to securely reset your password</a><br><br></p><p style="color: #003366; font-size: 14pt; max-width: 700px;">
    Didn&#x2019;t request this change? If this was a mistake, just ignore this email and your current password will remain valid.</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">If you didn&#x2019;t plan to change your password, <a
        style="color: #0099CC;" title="" href="https://help.habbo.com/anonymous_requests/new">please let us know</a>.
</p><p style="color: #003366; font-size: 14pt; max-width: 700px;">See you soon,</p><p
        style="color: #003366; font-size: 14pt; max-width: 700px;">&#x2013; {{hotel_name}} Staff</p>
<div style="border-top: 1px solid #003366; padding: 25px 0 0; max-width: 700px;"></div><h5
        style="font-weight: normal; font-size: 10pt; max-width: 700px;">&#xA9; 2017 AzureWEB</h5>