<body>
<div id="ipdwrapper"><!-- IPDWRAPPER -->
    <!-- TOP TABS -->
    <?= \Azure\View\Page::include_content('tabs', 'ase/sub'); ?>
    <!-- / TOP TABS -->
    <?= \Azure\View\Page::include_content('trips', 'ase/sub'); ?>
    <div class="outerdiv" id="global-outerdiv"><!-- OUTERDIV -->
        <table cellpadding="0" cellspacing="8" width="100%" id="tablewrap">
            <tbody>
            <tr>
                <?php if(isset($_POST['postarticle'])):
                    \Azure\Database\Adapter::secure_query("INSERT INTO `cms_campaigns` (title,text,external_link) VALUES (:title,:text,:link);",[
                    ':title' => \Azure\View\Misc::escape_text($_POST['title']),
                ':text' => \Azure\View\Misc::escape_text($_POST['text']),
                ':link' => \Azure\View\Misc::escape_text($_POST['link'])]);
                endif;
                ?>
                <?php if(isset($_POST['postearticle'])):
                    \Azure\Database\Adapter::secure_query("UPDATE cms_campaigns SET
                    title = :title,
                    text = :text,
                    external_link = :link
                    WHERE id = :id",[
                        ':title' => \Azure\View\Misc::escape_text($_POST['title']),
                ':text' => \Azure\View\Misc::escape_text($_POST['text']),
                ':link' => \Azure\View\Misc::escape_text($_POST['link']),
                ':id' => \Azure\View\Misc::escape_text($_POST['id'])]);
                endif;
                ?>
                <?php if(isset($_GET['rid']))
                \Azure\Database\Adapter::secure_query("DELETE FROM cms_campaigns WHERE id = :id", [':id' =>
                \Azure\View\Misc::escape_text($_GET['rid'])]);
                ?>
                <?= \Azure\View\Page::include_content('menu', 'ase/site/sub'); ?>
                <td width='78%' valign='top' id='rightblock'>
                    <div><!-- RIGHT CONTENT BLOCK -->
                        <form action='/theallseeingeye/web/promos' method='post' name='theAdminForm'
                              id='theAdminForm'>
                            <input type="hidden" name="addarticle" value="1"/>

                            <div class='tableborder'>
                                <div class='tableheaderalt'>CMS Promos</div>
                                <table cellpadding='4' cellspacing='0' width='100%'>
                                    <tr>
                                        <td class='tablesubheader' width='1%' align='center'>ID</td>
                                        <td class='tablesubheader' width='20%'>Title</td>
                                        <td class='tablesubheader' width='20%' align='center'>Link</td>
                                        <td class='tablesubheader' width='1%' align='center'>Edit</td>
                                        <td class='tablesubheader' width='1%' align='center'>Delete</td>
                                    </tr>
                                    <?php foreach(\Azure\Database\Adapter::query("SELECT * FROM cms_campaigns ORDER BY id DESC") as $row): ?>
                                    <tr>
                                        <td class='tablerow1' align='center'><?php echo $row['id']; ?></td>
                                        <td class='tablerow2'><?php echo $row['title']; ?></td>
                                        <td class='tablerow2' align='center'><?php echo $row['link']; ?></td>
                                        <td class='tablerow2' align='center'><a
                                                href='/theallseeingeye/web/promos/eid/<?php echo $row["id"]; ?>'><img
                                                src='/web-img/ase/images/edit.gif' alt='Edit'></a></td>
                                        <td class='tablerow2' align='center'><a
                                                href='/theallseeingeye/web/promos/rid/<?php echo $row["id"]; ?>'><img
                                                src='/web-img/ase/images/delete.gif' alt='Delete'></a></td>
                                    </tr>
                                    <?php endforeach; ?>
                                </table>
                                <div class='tablefooter' align='center'>
                                    <div class='fauxbutton-wrapper'>
                                        <span class='fauxbutton'><a
                                                onclick="document.getElementById('theAdminForm').submit();">Create new
                                            Promo</a></span></div>
                                </div>
                            </div>
                        </form>
                        <?php if(isset($_POST['addarticle'])): ?>
                        <br><br>
                        <script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
                        <form action='/theallseeingeye/web/promos' method='post'>
                            <input type="hidden" name="postarticle" value="1"/>

                            <div class='tableborder'>
                                <div class='tableheaderalt'>Create an Promo</div>

                                <table width='100%' cellspacing='0' cellpadding='5' align='center' border='0'>
                                    <tr>
                                        <td class='tablerow1' width='20%' valign='middle'><b>Title</b>

                                            <div class='graytext'>A Title for the Article.</div>
                                        </td>
                                        <td class='tablerow2' width='80%' valign='middle'><input type='text'
                                                                                                 name='title'
                                                                                                 value=""
                                                                                                 size='30'
                                                                                                 class='textinput'></td>
                                    </tr>


                                    <tr>
                                        <td class='tablerow1' width='20%' valign='middle'><b>Text of the Article</b>

                                            <div class='graytext'>The text of the Article.</div>
                                        </td>
                                        <td class='tablerow2' width='80%' valign='middle'><textarea name="text"
                                                                                                    id="text"
                                                                                                    cols='60' rows='5'
                                                                                                    wrap='soft'
                                                                                                    id='sub_desc'
                                                                                                    class='multitext'></textarea>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class='tablerow1' width='20%' valign='middle'><b>Link Url</b>

                                            <div class='graytext'>A Url for the Link</div>
                                        </td>
                                        <td class='tablerow2' width='80%' valign='middle'><input type='text'
                                                                                                 name='link'
                                                                                                 value=""
                                                                                                 size='30'
                                                                                                 class='textinput'></td>
                                    </tr>

                                    </tr>


                                    <tr>
                                    <tr>
                                        <td align='center' class='tablesubheader' colspan='2'><input type='submit'
                                                                                                     value='Create'
                                                                                                     class='realbutton'
                                                                                                     accesskey='s'></td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                        <script>
                            CKEDITOR.replace('text');
                        </script>
                        <?php endif; ?>

                        <?php if(isset($_GET['eid'])): ?>
                        <br><br>
                        <?php $row = \Azure\Database\Adapter::fetch_array(\Azure\Database\Adapter::secure_query("SELECT * FROM cms_campaigns WHERE id = :id", [':id' =>
                        \Azure\View\Misc::escape_text($_GET['eid'])])); ?>
                        <script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
                        <form action='/theallseeingeye/web/promos' method='post'>
                            <input type="hidden" name="postearticle" value="1"/>
                            <input type="hidden" name="id" value="<?php echo $row['id']; ?>"/>

                            <div class='tableborder'>
                                <div class='tableheaderalt'>Edit an Promo</div>

                                <table width='100%' cellspacing='0' cellpadding='5' align='center' border='0'>
                                    <tr>
                                        <td class='tablerow1' width='20%' valign='middle'><b>Title</b>

                                            <div class='graytext'>A Title for the Article.</div>
                                        </td>
                                        <td class='tablerow2' width='80%' valign='middle'><input type='text'
                                                                                                 name='title'
                                                                                                 value="<?php echo $row['title']; ?>"
                                                                                                 size='30'
                                                                                                 class='textinput'></td>
                                    </tr>


                                    <tr>
                                        <td class='tablerow1' width='20%' valign='middle'><b>Text of the Article</b>

                                            <div class='graytext'>The text of the Article.</div>
                                        </td>
                                        <td class='tablerow2' width='80%' valign='middle'><textarea name="text"
                                                                                                    id="text"
                                                                                                    cols='60' rows='5'
                                                                                                    wrap='soft'
                                                                                                    class='multitext'><?php echo str_replace(['\r', '\n', '\\'], '', $row['text']); ?></textarea>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class='tablerow1' width='20%' valign='middle'><b>Link Url</b>

                                            <div class='graytext'>A Url for the Link</div>
                                        </td>
                                        <td class='tablerow2' width='80%' valign='middle'><input type='text'
                                                                                                 name='link'
                                                                                                 value="<?php echo $row['link']; ?>"
                                                                                                 size='30'
                                                                                                 class='textinput'></td>
                                    </tr>

                                    </tr>


                                    <tr>
                                    <tr>
                                        <td align='center' class='tablesubheader' colspan='2'><input type='submit'
                                                                                                     value='Edit'
                                                                                                     class='realbutton'
                                                                                                     accesskey='s'></td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                        <script>
                            CKEDITOR.replace('text');
                        </script>
                        <?php endif; ?>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>