<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8">
    <title>AzureWEB Installer</title>
    <link rel="shortcut icon"
          href="https://images-eussl.habbo.com/habboweb/63_1dc60c6d6ea6e089c6893ab4e0541ee0/3173/web-gallery/v2/favicon.ico"
          type="image/vnd.microsoft.icon">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|Ubuntu+Condensed" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="/web-img/css/old_default.css" type="text/css">
    <link rel="stylesheet" href="/web-img/css/old_credits.css" type="text/css">
</head>