<body>
<div id="overlay"></div>
<header>
    <div id="border-left"></div>
    <div id="border-right"></div>
    <div id="header-content">
        <a href="/" id="habbo-logo"></a>

        <div class="navigation">
            <ul>
                <li class="selected">
                    <a></span>Install</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="top-bar-triangle"></div>
    <div id="top-bar-triangle-border"></div>
</header>

<div id="content">
    <div class="sub-navigation">
        <ul>
            <li>Start</li>
            <li class="selected">Database</li>
            <li>Settings</li>
            <li>Installation</li>
            <li class="last">Administration</li>
        </ul>
    </div>
    <div id="page-content">
        <section id="upper-content">
            <h1 class="underlined">AzureWEB</h1>
        </section>
        <section id="bottom-content">
            <div>
                <h1>Sorry but the following error was found:</h1>
                <section id="vouchers">
                    <div class="vouchers-left">
                        <p class="redeem-text">Your Database Details is Wrong, Try Again.</p>
                    </div>
                    <div class="vouchers-right">
                        <p>

                        <h3>Go Back to Azure Installer</h3>
                        <input class="confirm-button" onclick="document.location.href='database'" type="button"
                               value="Now">
                        </p>

                        <p class="past-transactions"></p>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
</div>
</body>
