<h3>Builders Club subscription</h3>
<p>Subscribe to Builders Club monthly to ensure your membership never lapses! You get all this, and for a great price
    too:</p>
<ul>
    <li>Raise your <strong>furni limit by an extra 250 furni each month</strong> (value: 50 credits)</li>
    <li>All the regular <a href="/shop/info">Builders Club perks</a>, like unlocking rooms for visitors, navigator
        visibility and a boosted furni limit of 1000
    </li>
    <li><strong>One time sign up</strong> - no having to go through the process each month</li>
    <li><strong>Easy to join, easy to cancel</strong> with no hidden start up or cancellation charges</li>
</ul>
<p>To subscribe, you need a credit card. You can cancel your subscription at any time by clicking Unsubscribe on this
    page. If you cancel before the next billing time, you will not be charged for the following month.</p>
