<h3>Super Saver credits subscription</h3>
<p>A Super Saver subscription lets you get the most out of your Habbo experience:</p>
<ul>
    <li><strong>35 Credits</strong> to your account each and every month at a discount</li>
    <li>A <strong>Gift Point</strong> that lets you get exclusive gifts in the Shop (the gifts are only available to
        subscribers and the gift selection may change)
    </li>
    <li><strong>One time sign up</strong> - no having to go through the process each month</li>
    <li><strong>Easy to join, easy to cancel</strong> with no hidden start up or cancellation charges</li>
</ul>
<p>To subscribe, you need a credit card. You can cancel your subscription at any time by clicking Unsubscribe on this
    page. If you cancel before the next billing time, you will not be charged for the following month.</p>
