<body>
<div id="ipdwrapper"><!-- IPDWRAPPER -->
    <!-- TOP TABS -->
    <?= \Azure\View\Page::include_content('tabs', 'ase/sub'); ?>
    <!-- / TOP TABS -->
    <?= \Azure\View\Page::include_content('trips', 'ase/sub'); ?>
    <div class="outerdiv" id="global-outerdiv"><!-- OUTERDIV -->
        <table cellpadding="0" cellspacing="8" width="100%" id="tablewrap">
            <tbody>
            <tr>
                <?php if(isset($_GET['rid']))
                \Azure\Database\Adapter::secure_query("DELETE FROM users_bans WHERE id = :id", [':id' =>
                \Azure\View\Misc::escape_text($_GET['rid'])]);
                ?>
                <?= \Azure\View\Page::include_content('menu', 'ase/user/sub'); ?>
                <td width="78%" valign="top" id="rightblock">
                    <div><!-- RIGHT CONTENT BLOCK -->

                        <div class="tableborder">
                            <div class="tableheaderalt">Bans Listing</div>
                            <table cellpadding="4" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td class="tablesubheader" width="10%">Id</td>
                                    <td class="tablesubheader" width="20%" align="center">Ban Type</td>
                                    <td class="tablesubheader" width="20%" align="center">User</td>
                                    <td class="tablesubheader" width="40%" align="center">Reason</td>
                                    <td class="tablesubheader" width="20%" align="center">Expire</td>
                                    <td class="tablesubheader" width="30%" align="center">Added By</td>
                                    <td class="tablesubheader" width="30%" align="center">Remove</td>
                                </tr>
                                <?php foreach(\Azure\Database\Adapter::query("SELECT * FROM users_bans") as $row): ?>
                                <tr>
                                    <td class="tablerow2"><?= $row['id']; ?></td>
                                    <td class="tablerow2" align="center"><?= $row['bantype']; ?></td>
                                    <td class="tablerow2" align="center"><?= $row['value']; ?></td>
                                    <td class="tablerow2" align="center"><?= $row['reason']; ?></td>
                                    <td class="tablerow2" align="center"><?= $row['expire']; ?></td>
                                    <td class="tablerow2" align="center"><a
                                            href="/theallseeingeye/web/bans/rid/<?= $row['id']; ?>"><img
                                            src="/web-img/ase/images/delete.gif" alt="Delete Ban"></a></td>
                                </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- / RIGHT CONTENT BLOCK -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>