<body>
<div id="ipdwrapper"><!-- IPDWRAPPER -->
    <!-- TOP TABS -->
    <?= \Azure\View\Page::include_content('tabs', 'ase/sub'); ?>
    <!-- / TOP TABS -->
    <?= \Azure\View\Page::include_content('trips', 'ase/sub'); ?>
    <div class="outerdiv" id="global-outerdiv"><!-- OUTERDIV -->
        <table cellpadding="0" cellspacing="8" width="100%" id="tablewrap">
            <tbody>
            <tr>
                <?= \Azure\View\Page::include_content('menu', 'ase/user/sub'); ?>
                <td width="78%" valign="top" id="rightblock">
                    <div><!-- RIGHT CONTENT BLOCK -->

                        <div class="tableborder">
                            <div class="tableheaderalt">Azure Hotel User Listing</div>
                            <table cellpadding="4" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td class="tablesubheader" width="1%" align="center">ID</td>
                                    <td class="tablesubheader" width="29%">Name</td>
                                    <td class="tablesubheader" width="30%" align="center">E-Mail Address</td>
                                    <td class="tablesubheader" width="20%" align="center">Join date</td>
                                    <td class="tablesubheader" width="10%" align="center">Last Activity</td>
                                    <td class="tablesubheader" width="10%" align="center">Edit</td>
                                </tr>
                                <?php foreach(\Azure\Database\Adapter::query("SELECT * FROM users WHERE online = '1'") as $row): ?>
                                <tr>
                                    <td class="tablerow1" align="center"><?= $row['id']; ?></td>
                                    <td class="tablerow2"><strong><?= $row['username']; ?></strong>

                                        <div class="desctext"><?= $row['ip_last']; ?> [<a
                                                href="https://who.is/whois-ip/ip-address/<?= $row['ip_last']; ?>/"
                                                target="_blank">WHOIS</a>]
                                        </div>
                                    </td>
                                    <td class="tablerow2" align="center"><a
                                            href="mailto:<?= $row['mail']; ?>"><?= $row['mail']; ?></a>
                                    </td>
                                    <td class="tablerow2" align="center"></td>
                                    <td class="tablerow2" align="center"><?= $row['last_online']; ?></td>
                                    <td class="tablerow2" align="center"><a
                                            href="/theallseeingeye/web/uedit/id/<?= $row['id']; ?>"><img
                                            src="/web-img/ase/images/edit.gif" alt="Edit User Data"></a></td>
                                </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- / RIGHT CONTENT BLOCK -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>