<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    Options -Indexes

    RewriteEngine On

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Assets Exceptions
    RewriteCond %{REQUEST_URI} !^/habbo-web/
    RewriteCond %{REQUEST_URI} !^/habbo-web-pages/
    RewriteCond %{REQUEST_URI} !^/habbo-web-ads/
    RewriteCond %{REQUEST_URI} !^/habbo-imaging/
    RewriteCond %{REQUEST_URI} !^/habbo-web-l10n/
    RewriteCond %{REQUEST_URI} !^/habbo-web-news/

    # API Exceptions
    RewriteCond %{REQUEST_URI} !^/api/
    RewriteCond %{REQUEST_URI} !^/stories-api/
    RewriteCond %{REQUEST_URI} !^/shopapi/
    RewriteCond %{REQUEST_URI} !^/extradata/

    RewriteRule ^.*$ index.html [L]

    # Handle Api Requests
    RewriteRule ^api/(.*)$ api.php [L]
    RewriteRule ^extradata/(.*)$ api.php [L]
    RewriteRule ^shopapi/(.*)$ api.php [L]

    # Handle Habbo-WEB Requests
    RewriteRule ^habbo-web-ads/(.*)$ api.php [L]
    RewriteRule ^habbo-web-news/(.*)$ api.php [L]

    # Habbo-Imaging for Badge
    RewriteRule ^habbo-imaging/badge/([^/]+) /habbo-imaging/badge.php?badge=$1

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
