<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    Options -Indexes

    RewriteEngine On

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Assets Exceptions
    RewriteCond %{REQUEST_URI} !^/habbo-web/
    RewriteCond %{REQUEST_URI} !^/habbo-imaging/
    RewriteCond %{REQUEST_URI} !^/habbo-web-l10n/

    RewriteRule ^.*$ index.php [L]

    # Habbo-Imaging for Badge
    RewriteRule ^habbo-imaging/badge/([^/]+) /habbo-imaging/badge.php?badge=$1

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
