<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Regla NUMBER importada">
					<match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" />
				</rule>
				<rule name="Imported Rule 144" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}.txt" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.txt" />
                </rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/web-img/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/api/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/stories-api/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/shopapi/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/layout/" ignoreCase="false" negate="true" />
						<add input="{URL}" pattern="^/.well-known/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/notifications/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/stafflab" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/betalab" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/extradata/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/theallseeingeye/web" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/servercamera/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/photos_furni/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/theallseeingeye/web/" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Index.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^api/ase/.*$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=AHobbaNet" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^theallseeingeye/web" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=AHobbaNet" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^theallseeingeye/web/.*$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=AHobbaNet" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^api/public/promos/articles/(.+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=ComposeNews&amp;data={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^api/settings/email/verification-resend$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=VerificationResend" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule 666" stopProcessing="true">
                    <match url="^extradata/private/moderations/recentModerations$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=RecentModerations" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^api/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^extradata/public/channels/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=ChannelsContent&amp;channel={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^extradata/public/users/(.*)/stories$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=UserStories&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^extradata/public/users/(.*)/photos$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=UserPhotos&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^extradata/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/extradata/public/channels/" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/extradata/public/users/" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Response.php" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^photos_furni/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=PhotosFurni&amp;photo_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^stories-api/user/.*$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=Creations&amp;data={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^stories-api/.*$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^shopapi/.*$" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^notifications/user" ignoreCase="false" />
                    <action type="Rewrite" url="Response.php?api=Notifications" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
