<div class="tabwrap-main">
    <a href='/theallseeingeye/web/index'>
        <div class='taboff-main'><img src='/web-img/ase/images/dashboard.png' style='vertical-align:middle'/>Dashboard
        </div>
    </a>
    <a href='/theallseeingeye/web/server'>
        <div class='taboff-main'><img src='/web-img/ase/images/system.png' style='vertical-align:middle'/>Server</div>
    </a>
    <a href='/theallseeingeye/web/site'>
        <div class='taboff-main'><img src='/web-img/ase/images/tools.png' style='vertical-align:middle'/>Site & Content
        </div>
    </a>
    <a href='/theallseeingeye/web/user'>
        <div class='taboff-main'><img src='/web-img/ase/images/admin.png' style='vertical-align:middle'/>Users &
            Moderation
        </div>
    </a>
    <a href='https://azure.gs'>
        <div class='taboff-main'><img src='/web-img/ase/images/help.png' style='vertical-align:middle'/>Help
    </a>
</div>

<div class="logoright"><br><font size="2" color="black"></font>&nbsp;&nbsp;&nbsp;</div>
</div>