<body>
<div id="overlay"></div>
<header>
    <div id="border-left"></div>
    <div id="border-right"></div>
    <div id="header-content">
        <a href="/" id="habbo-logo"></a>
        <div class="navigation">
            <ul>
                <li class="selected">
                    <a></span>Install</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="top-bar-triangle"></div>
    <div id="top-bar-triangle-border"></div>
</header>
<div id="content">
    <div class="sub-navigation">
        <ul>
            <li>Start</li>
            <li>Database</li>
            <li>Settings</li>
            <li>Installation</li>
            <li class="selected last">Administration</li>
        </ul>
    </div>
    <div id="page-content">
        <section id="upper-content">
            <h1 class="underlined">AzureWEB</h1>
            <section id="upper-content-left">
                <h5 class="subscription-header">Parte #4: Administration</h5>
                <div id="subscription-left-content">
                    <h2>What i do here?</h2>
                    <p>You must create and TheaylseeyingEye (Housekeeping) Account. The Housekeeping account <b>CAN'T BE
                        YOUR USER ACCOUNT OF THE HOTEL</b>
                        The Housekeeping Account's are Independents and Only for <i>Administration</i> and Nothing
                        More..</p>
                </div>
            </section>
            <section id="upper-content-right">
                <div id="subscription-status">
                    <form id="administration" method="post" action="api/install/administration">
                        <h2>Let's Do That!
                        </h2>
                        <div class="builders subscription-management">
                            <div class="vouchers-right">
                                <p class="past-transactions">Admin Username</p>
                                <p>
                                    <input class="voucher-number-input" name="admin_user" type="text"
                                           placeholder="eg.: Admin">
                                </p>
                            </div>
                            <div class="vouchers-right">
                                <p class="past-transactions">Admin Password</p>
                                <p>
                                    <input class="voucher-number-input" name="admin_pass" type="password"
                                           placeholder="eg.: MostSecurePassEver">
                                </p>
                            </div>
                            <p><i></i></p>
                            <p></p>
                            <div class="subscription-management-bottom">
                                <div class="amounts">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="img">
                                                <div class="time-img"></div>
                                            </td>
                                            <td>Submit Administrator Data</td>
                                            <td></td>
                                            <td rowspan="2">
                                                <input onclick="form.submit();"
                                                       class="confirm-button confirm-payment-details"
                                                       data-country-id="235" data-method-id="1566"
                                                       data-price-point-id="316" data-tab-id="16" type="button"
                                                       value="Send Data">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="subscription-management-footer">
                                <p>(C) 2017 AzureWEB</p>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
        <div id="lower-content">
            <section id="bottom-content">
                <div></div>
            </section>
        </div>
    </div>
</div>
</body>
