<body>
<div id="overlay"></div>
<header>
    <div id="border-left"></div>
    <div id="border-right"></div>
    <div id="header-content">
        <a href="/" id="habbo-logo"></a>

        <div class="navigation">
            <ul>
                <li class="selected">
                    <a></span>Install</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="top-bar-triangle"></div>
    <div id="top-bar-triangle-border"></div>
</header>

<div id="content">
    <div class="sub-navigation">
        <ul>
            <li class="selected">Start</li>
            <li>Database</li>
            <li>Settings</li>
            <li>Installation</li>
            <li class="last">Administration</li>
        </ul>
    </div>
    <div id="page-content">
        <section id="upper-content">
            <h1 class="underlined">AzureWEB</h1>
            <section id="upper-content-left">
                <h5 class="subscription-header">Welcome to AzureWEB Installer!</h5>

                <div id="subscription-left-content">
                    <h2>What is AzureWEB</h2>

                    <p>Azure WEb is a high-level content management system. Made for you that you want to create an
                        ultimate experience with your game. AzureWEB is the most advanced CMS to Habbo Hotel.</p>


                </div>
            </section>
            <section id="upper-content-right">
                <div id="subscription-status">


                    <h2>Let's Start Installation!
                    </h2>

                    <div class="builders subscription-management">


                        <p><i>When you confirm by clicking the button, you agree that AzureWEB will be installed on your
                            machine. From this button you will follow the installation that comes neatly by the steps:
                            Database, Configuration, Automatic System Installation, and the Administrator Account
                            Creation.</i></p>

                        <p></p>

                        <div class="subscription-management-bottom">

                            <div class="amounts">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="img">
                                            <div class="time-img"></div>
                                        </td>
                                        <td>Start Installation</td>
                                        <td></td>
                                        <td rowspan="2">
                                            <input onclick="document.location.href='database'"
                                                   class="confirm-button confirm-payment-details" data-country-id="235"
                                                   data-method-id="1566" data-price-point-id="316" data-tab-id="16"
                                                   type="button" value="Now">
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="subscription-management-footer">
                            <p>(C) 2015 The Azure Group</p>
                        </div>
                    </div>


                </div>
            </section>
        </section>
        <div id="lower-content"></div>
    </div>
</div>
</body>
