<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<div id="overlay"></div>
<header>
    <div id="border-left"></div>
    <div id="border-right"></div>
    <div id="header-content">
        <a href="/" id="habbo-logo"></a>
        <div class="navigation">
            <ul>
                <li class="selected">
                    <a></span>Install</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="top-bar-triangle"></div>
    <div id="top-bar-triangle-border"></div>
</header>
<div id="content">
    <div class="sub-navigation">
        <ul>
            <li>Start</li>
            <li>Database</li>
            <li>Settings</li>
            <li class="selected">Installation</li>
            <li class="last">Administration</li>
        </ul>
    </div>
    <div id="page-content">
        <section id="upper-content">
            <h1 class="underlined">AzureWEB</h1>
        </section>
        <section id="bottom-content">
            <div>
                <section>
                    <div>
                        <h1>Please Wait...!</h1>
                    </div>
                    <div class="promo-bubble">
                        <p>We're Installing Azure Web!</p>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery.post("/api/install/configuration", function (result) {
            jQuery('.promo-bubble').html(result);
        });
    });
</script>
</div>
</body>
