<p>There are many ways to purchase credits on Habbo!</p>
<h3>Buy a code with Cherry Credits or MOL points</h3>
<p>Cherry Credits and MOL points are virtual currencies that you can use to buy Habbo Credits.</p>
<ol>
    <li><p>Log into <a href="https://www.cherrycredits.com/" target="_blank">Cherry Credits</a> or <a
            href="https://www.mol.com/Account/Login" target="_blank">MOL</a>. (If you don&apos;t already have a Cherry
        Credits or MOL account, create one first. You can then top up that account at cyber caf&#xE9;s, newsstands or
        even online - check the topping-up instructions <a href="https://www.cherrycredits.com/my/pages/where-to-buy"
                                                           target="_blank">for Cherry Credits</a> or <a
                href="https://www.mol.com/Help/WhereToReload" target="_blank">for MOL</a>.)</p></li>
    <li><p>Buy Habbo Credits on the <a href="https://www.cherrycredits.com/sg/cherrydemall/genres/others/habbo"
                                       target="_blank">Cherry Credits website</a> or the <a
            href="https://www.mol.com/Product/GamehiveMicro/146" target="_blank">MOL website</a>.</p></li>
    <li><p>Once you&apos;ve bought the Habbo credits, you&apos;ll get a code. Come back to this page and enter the code
        in the voucher code field. (Remember to log in first.)</p></li>
</ol>
<p><a href="https://www.cherrycredits.com/" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/partner_logo_cherry_credits.png" alt="Cherry Credits"></a>&#xA0;&#xA0;&#xA0;<a
        href="https://www.mol.com/" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/partner_logo_mol.jpeg" alt="MOL Money Online"></a></p>
<h3>Buy a code with credit card or PayPal</h3>
<p>Habbo codes bought on <a href="https://gametimezone.com/games/habbohotel.php" target="_blank">GameTimeZone</a> and <a
        href="https://www.pcgamesupply.com/buygames/habbo-hotel-credits-game-card/" target="_blank">PCGameSupply</a> are
    valid in all Habbo hotels! You can buy one with credit cards or PayPal. Once you have the code, come back to this
    page and enter the code in the voucher code field! (Remember to log in first.)</p>
<p><a href="https://gametimezone.com/games/habbohotel.php" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/gtz_logo.png" alt="GameTimeZone"></a>&#xA0;&#xA0;&#xA0;<a
        href="https://www.pcgamesupply.com/buygames/habbo-hotel-credits-game-card/" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/pcgamesupply_logo.jpg" alt="PCGameSupply"></a></p>
