<p>There are many ways to purchase credits on Habbo!</p>
<h3>Buy a Habbo Prepaid Card</h3>
<p>Topping up your credits with a prepaid card is super quick and easy!</p>
<ol>
    <li><p>Go to your nearest EB Games store. You can find them all over the country. <a
            href="https://ebgames.com.au/stores" target="_blank">Locate your nearest EB Games store here!</a></p></li>
    <li><p>Choose a value:</p>
        <ul>
            <li>AU$10: 90 Credits</li>
            <li>AU$20: 190 Credits</li>
        </ul>
    </li>
    <li><p>Make sure the cashier activates the card as you pay, otherwise the code will not work.</p></li>
    <li><p>Come back to this page and enter the code (it&apos;s underneath the scratch surface on the back of the card)
        in the voucher code field! (Remember to log in first.)</p></li>
</ol>
<h3>Buy a code with a credit card or PayPal</h3>
<p>Habbo codes bought on <a href="https://gametimezone.com/games/habbohotel.php" target="_blank">GameTimeZone</a> and <a
        href="https://www.pcgamesupply.com/buygames/habbo-hotel-credits-game-card/" target="_blank">PCGameSupply</a> are
    valid in all Habbo country hotels! You can buy one with a credit card or with PayPal. Once you have the code, come
    back to this page and enter the code in the voucher code field. (Remember to log in first.)</p>
<p><a href="https://gametimezone.com/games/habbohotel.php" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/gtz_logo.png" alt="GameTimeZone"></a>&#xA0;&#xA0;&#xA0;<a
        href="https://www.pcgamesupply.com/buygames/habbo-hotel-credits-game-card/" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/pcgamesupply_logo.jpg" alt="PCGameSupply"></a></p>
<h3>Paysafecard</h3>
<p>If you have a Paysafecard, you can use it to buy everything available on the <a href="/shop">HabboMall front page</a>
    - not only credits, but Habbo Club, Builders Club and bundles too! You can get yourself an account by going to <a
            href="https://www.paysafecard.com/" target="_blank">www.paysafecard.com</a>.</p>
<p><a href="https://www.paysafecard.com/" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/paysafecard_logo.png" alt="Paysafecard"></a></p>
