<p>There are many ways to purchase credits on Habbo!</p>
<h3>Buy a code with Cherry Credits</h3>
<p>Cherry Credits is a virtual currency that you can use to buy Habbo Credits.</p>
<ol>
    <li><p>Log into <a href="https://www.cherrycredits.com/" target="_blank">Cherry Credits</a>. (If you don&apos;t
        already have an account, create one first. You can then top up that account in stores, at kiosks or even online
        - check the <a href="https://www.cherrycredits.com/sg/pages/where-to-buy" target="_blank">topping-up instructions
            for Cherry Credits</a>.)</p></li>
    <li><p>Buy <a href="https://www.cherrycredits.com/sg/cherrydemall/genres/others/habbo" target="_blank">Habbo Credits
        on the Cherry Credits website</a>.</p></li>
    <li><p>Once you&apos;ve bought the Habbo credits, you&apos;ll get a code. Come back to this page and enter the code
        in the voucher code field. (Remember to log in first.)</p></li>
</ol>
<p><a href="https://www.cherrycredits.com/" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/partner_logo_cherry_credits.png" alt="Cherry Credits"></a></p>
<h3>Buy a code with credit card or PayPal</h3>
<p>Habbo codes bought on <a href="https://gametimezone.com/games/habbohotel.php" target="_blank">GameTimeZone</a> and <a
        href="https://www.pcgamesupply.com/buygames/habbo-hotel-credits-game-card/" target="_blank">PCGameSupply</a> are
    valid in all Habbo hotels! You can buy one with credit cards or PayPal. Once you have the code, come back to this
    page and enter the code in the voucher code field! (Remember to log in first.)</p>
<p><a href="https://gametimezone.com/games/habbohotel.php" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/gtz_logo.png" alt="GameTimeZone"></a>&#xA0;&#xA0;&#xA0;<a
        href="https://www.pcgamesupply.com/buygames/habbo-hotel-credits-game-card/" target="_blank"><img
        src="https://images.habbo.com/c_images/Prepaid/pcgamesupply_logo.jpg" alt="PCGameSupply"></a></p>
