<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{gallery_url}}/web-img/css/hotel.css">
    <script type="text/javascript" src="{{gallery_url}}/web-img/js/jquery.js"></script>
    <script type="text/javascript" src="{{gallery_url}}/web-img/js/swfobject.js"></script>
    <script type="text/javascript">
        var flashvars = {
            "avatareditor.promohabbos": "https://www.habbo.com/api/public/lists/hotlooks",
            "flash.client.origin": "popup",
            "client.notify.cross.domain": "1",
            "connection.info.host": "{(emu_ip}}",
            "connection.info.port": "{{emu_port}}",
            "site.url": "{{global_url}}",
            "url.prefix": "{{global_url}}",
            "client.reload.url": "{{global_url}}{{client_name}}",
            "client.fatal.error.url": "{{global_url}}/client/",
            "client.connection.failed.url": "{{global_url}}/client/",
            "logout.url": "{{global_url}}{{client_name}}",
            "logout.disconnect.url": "{{global_url}}{{client_name}}",
            "external.variables.txt": "{{swf_url}}gamedata/external_variables.txt",
            "external.texts.txt": "{{swf_url}}gamedata/external_flash_texts.txt",
            "external.figurepartlist.txt": "{{swf_url}}gamedata/figuredata.xml",
            "external.override.texts.txt": "{{swf_url}}gamedata/override/external_flash_override_texts.txt",
            "external.override.variables.txt": "{{swf_url}}gamedata/override/external_override_variables.txt",
            "productdata.load.url": "{{swf_url}}gamedata/productdata.txt",
            "client.starting.revolving":"Quando voc\u00EA menos esperar...terminaremos de carregar...\/Carregando mensagem divertida! Por favor espere.\/Voc\u00EA quer batatas fritas para acompanhar?\/Siga o pato amarelo.\/O tempo \u00E9 apenas uma ilus\u00E3o.\/J\u00E1 chegamos?!\/Eu gosto da sua camiseta.\/Olhe para um lado. Olhe para o outro. Pisque duas vezes. Pronto!\/N\u00E3o \u00E9 voc\u00EA, sou eu.\/Shhh! Estou tentando pensar aqui.\/Carregando o universo de pixels.",
            "furnidata.load.url": "{{swf_url}}gamedata/furnidata.xml",
            "sso.ticket": "{{client_tick}}",
            "account_id": "{{user_id}}",
            "client.allow.cross.domain": "1",
            "unique_habbo_id": "{{user_id}}",
            "flash.client.url": "{{swf_url}}gordon/PRODUCTION-201601012205-226667486/",
            "user.hash": "{{user_hash}}",
            "supersonic_custom_css": "{{gallery_url}}/web-img/css/sonic.css",
            "client.starting": "Por favor aguarde! O {{hotel_name}} está carregando...",
            "supersonic_application_key": "2abb40ad",
            "has.identity": "1",
            "spaweb": "1",
			"new.user.flow.enabled":"true",
            "new.user.flow.onboarding.choose.your.room":"Escolha um quarto",
            "new.user.flow.figure.ok":"Altera\u00E7\u00E3o da figura OK!",
            "new.user.flow.onboarding.what.is.hc":"O Habbo Club foi criado para que voc\u00EA possa se expressar mais e melhor! Fazer parte do Habbo Club traz uma s\u00E9rie de benef\u00EDcios, como por exemplo: mais visuais, recompensas, mais tipos de quartos com limites especiais, loja HC, lista de amigos extendida e acesso preferencial em filas e quartos.",
            "new.user.flow.onboarding.button.select.room":"Quero este quarto!",
			"new.user.flow.rename.submit":"Pronto",
			"new.user.flow.onboarding.button.ready":"Pronto!",
            "new.user.flow.room.name.12":"Sal\u00E3o Solz\u00E3o",
            "new.user.flow.room.name.11":"Cobertura Penumbra",
            "new.user.flow.room.name.10":"Lar, brilhante lar",
			"new.user.flow.onboarding.this.is.your.habbo":"Este \u00E9 seu Habbo",
            "new.user.flow.onboarding.room.information":"Escolha seu primeiro quarto para come\u00E7ar. Voc\u00EA pode criar mais quartos gratuitamente mais tarde.",
            "new.user.flow.gender":"Sexo",
            "new.user.flow.onboarding.your.colour":"Escolha a cor",
            "new.user.flow.loader.waiting":"Estamos quase l\u00E1!",
            "new.user.flow.bodyparts":"Partes do Corpo",
			"new.user.flow.rename.subtitle":"4-15 caracteres, letras e n\u00FAmeros s\u00E3o aceitos.",
			"new.user.flow.header":"Por escolher o Habbo!",
            "new.user.flow.room.select":"Escolha",
            "new.user.flow.intro3":"S\u00F3 mais uma coisinha: conte-nos com que tipo de quarto voc\u00EA quer come\u00E7ar essa aventura. N\u00E3o \u00E9 para sempre, ent\u00E3o pense r\u00E1pido! ",
            "new.user.flow.intro2":"Parece divertido! Pr\u00F3xima tarefa, d\u00EA um nome para o seu Habbo. (Ou pule este passo e pense em um depois)",
            "new.user.onboarding.hc.flow.enabled":"true",
			"new.user.flow.onboarding.choose.your.name":"Escolha um nome",
            "new.user.flow.colors":"Cores",
            "new.user.flow.onboarding.creative.tip":"H\u00E1 milhares de nicks criados todos os dias, ent\u00E3o seja criativo!",
            "new.user.flow.onboarding.cant.decide":"Est\u00E1 dif\u00EDcil decidir? N\u00E3o se preocupe, voc\u00EA pode mudar de roupa mais tarde!",
            "new.user.flow.onboarding.get.hc.button":"Seja do Habbo Club!",
            "new.user.flow.onboard.what.is.hc.header":"Dentro tem muito mais!",
            "new.user.flow.gender.girl":"Menina",
            "new.user.flow.loader":"est\u00E1 come\u00E7ando...",
            "new.user.flow.onboarding.info.hc":"\"O que \u00E9 o Habbo Club?<br>Habbo Club \u00E9 um clube especial no qual voc\u00EA pode acessar roupas descoladas, desenhos de quarto exclusivos, conseguir mais espa\u00E7o na lista de amigos e muito mais!",
            "new.user.flow.onboarding.button.remove.items":"Eliminar itens",
            "new.user.flow.onboarding.your.looks":"Escolha seu visual",
            "new.user.flow.note.header":"Por escolher o Habbo Hotel!",
            "new.user.flow.save":"Estou pronto!",
			"new.user.flow.onboarding.hint.hc":"DICA: Voc\u00EA escolheu itens do Habbo Club. Para continuar criando seu look, voc\u00EA precisa assinar o Habbo Club. Ou pode mudar o visual.",
            "new.user.flow.onboard.what.is.hc.description":"O que \u00E9 o Habbo Club?<br>Habbo Club \u00E9 um clube especial no qual voc\u00EA pode acessar roupas descoladas, desenhos de quarto exclusivos, conseguir mais espa\u00E7o na lista de amigos e muito mais!",
            "new.user.flow.galleryUrl":"\/\/images-stackpath.habbo.com\/c_images\/nux\/",
            "new.user.reception.minLength":"2",
			"new.user.flow.page":"1",
            "new.user.flow.title":"Obrigado",
            "new.user.flow.roomTypes":"10,11,12",
            "avatareditor.promohabbos":"https:\/\/www.habbo.com.br\/api\/public\/lists\/hotlooks",
			"new.user.onboarding.show.hc.items":"false",
            "new.user.flow.name":"{{user_name}}",
            "new.user.reception.maxLength":"15",
            "new.user.flow.onboarding.characters.tip":"DICA: 3-15 caracteres, letras, n\u00FAmeros e sinal de sublinhar (underscore) s\u00E3o permitidos.",
            "new.user.flow.rename.warning":"DICA: H\u00E1 milhares de personagens Habbo criados diariamente, assim que seu nome deve ser \u00FAnico: seja criativo!",
            "new.user.flow.rename.title":"D\u00EA um nome ao seu Habbo",
            "new.user.flow.intro":"Enquanto preparamos o seu check-in, escolha seu visual aqui:",
			"new.user.flow.onboarding.button.skip":"Pular",
			"new.user.flow.onboarding.choose.your.style":"Escolha seu estilo",
            "new.user.flow.onboarding.hint.hc.header":"Aguarde um segundo!",
            "new.user.flow.clothes":"Roupas",
            "new.user.flow.gender.boy":"Menino",
			"new.user.flow.figure.error":"Erro ao alterar a figura!",
			"new.user.flow.note.title":"Obrigado",
            "new.user.flow.rename.skip":"Deixe para depois",
            "new.user.flow.room.description.12":"Ambiente retr\u00F4 com tubo de lava inclu\u00EDdo",
            "new.user.flow.room.description.11":"Nenhum festa se compara \u00E0 da Penumbra! ",
            "new.user.flow.room.description.10":"Para Habbos que adoram objetos reluzentes",
        };

    </script>
    <script type="text/javascript" src="{{gallery_url}}/web-img/js/habbo.js"></script>
    <script type="text/javascript">
        var params = {
            "base": "{{swf_url}}gordon/PRODUCTION-201601012205-226667486/",
            "allowScriptAccess": "always",
            "menu": "false",
            "wmode": "opaque"
        };
        swfobject.embedSWF('{{swf_url}}gordon/PRODUCTION-201601012205-226667486/Habbo.swf', 'flash-container', '100%', '100%', '11.1.0', '/web-img/swf/expressInstall.swf', flashvars, params, null, null);
    </script>

</head>
<body>
<div id="client-ui">
    <div id="flash-wrapper">
        <div id="flash-container">
            <div id="content" style="width: 400px; margin: 20px auto 0 auto; display: none">
                <div class="cbb clearfix">
                    <h2 class="title">Atualize o Flash Player para a última versão.</h2>

                    <div class="box-content">
                        <p>Você pode instalar e fazer o download do Adobe Flash Player aqui: <a
                                href="https://get.adobe.com/flashplayer/?loc=br/">Instale o Flash Player</a>. Veja aqui
                            mais instruções para a instalação: <a
                                    href="https://www.adobe.com/br/products/flashplayer.html/">Mais informação</a>
                            Se usa iPad, iPhone ou um aparelho com Android, você pode conseguir o<a
                                    href="https://itunes.apple.com/br/app/id794866182">Pixar para iOS</a> na App Store
                            ou<a href="https://play.google.com/store/apps/details?id=air.com.Pixargroup.Pixarair&hl=pt"
                                 target="_blank">Pixar para Android</a> no Google Play.</p>

                        <p><a href="https://www.adobe.com/go/getflashplayer"><img
                                src="{{gallery_url}}/web-img/habbo-web/stuff/get_flash_player.png"
                                alt="Get Adobe Flash player"/></a></p>
                    </div>
                </div>
            </div>
</body>
</html>
