<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{gallery_url}}/web-img/css/hotel.css">
    <script type="text/javascript" src="{{gallery_url}}/web-img/js/jquery.js"></script>
    <script type="text/javascript" src="{{gallery_url}}/web-img/js/swfobject.js"></script>
    <script type="text/javascript">
        var flashvars = {
            "avatareditor.promohabbos": "https://www.habbo.com/api/public/lists/hotlooks",
            "flash.client.origin": "popup",
            "client.notify.cross.domain": "1",
            "connection.info.host": "{{emu_ip}}",
            "connection.info.port": "{{emu_port}}",
            "site.url": "{{global_url}}",
            "url.prefix": "{{global_url}}",
            "client.reload.url": "{{global_url}}{{client_name}}",
            "client.fatal.error.url": "{{global_url}}/client/",
            "client.connection.failed.url": "{{global_url}}/client/",
            "logout.url": "{{global_url}}{{client_name}}",
            "logout.disconnect.url": "{{global_url}}{{client_name}}",
            "external.variables.txt": "{{swf_url}}gamedata/external_variables.txt",
            "external.texts.txt": "{{swf_url}}gamedata/external_flash_texts.txt",
            "external.figurepartlist.txt": "{{swf_url}}gamedata/figuredata.xml",
            "external.override.texts.txt": "{{swf_url}}gamedata/override/external_flash_override_texts.txt",
            "external.override.variables.txt": "{{swf_url}}gamedata/override/external_override_variables.txt",
            "productdata.load.url": "{{swf_url}}gamedata/productdata.txt",
            "client.starting.revolving": "Quando voc\u00EA menos esperar...terminaremos de carregar...\/Carregando mensagem divertida! Por favor espere.\/Voc\u00EA quer batatas fritas para acompanhar?\/Siga o pato amarelo.\/O tempo \u00E9 apenas uma ilus\u00E3o.\/J\u00E1 chegamos?!\/Eu gosto da sua camiseta.\/Olhe para um lado. Olhe para o outro. Pisque duas vezes. Pronto!\/N\u00E3o \u00E9 voc\u00EA, sou eu.\/Shhh! Estou tentando pensar aqui.\/Carregando o universo de pixels.",
            "furnidata.load.url": "{{swf_url}}gamedata/furnidata.xml",
            "sso.ticket": "{{client_tick}}",
            "account_id": "{{user_id}}",
            "client.allow.cross.domain": "1",
            "unique_habbo_id": "{{user_id}}",
            "flash.client.url": "{{swf_url}}gordon/PRODUCTION-201601012205-226667486/",
            "user.hash": "{{user_hash}}",
            "supersonic_custom_css": "{{gallery_url}}/web-img/css/sonic.css",
            "client.starting": "Plase Wait! {{hotel_name}} is Loading...",
            "supersonic_application_key": "2abb40ad",
            "has.identity": "1",
            "spaweb": "1",
        };
    </script>
    <script type="text/javascript" src="{{gallery_url}}/web-img/js/habbo.js"></script>
    <script type="text/javascript">
        var params = {
            "base": "{{swf_url}}gordon/PRODUCTION-201601012205-226667486/",
            "allowScriptAccess": "always",
            "menu": "false",
            "wmode": "opaque"
        };
        swfobject.embedSWF('{{swf_url}}gordon/PRODUCTION-201601012205-226667486/Habbo.swf', 'flash-container', '100%', '100%', '11.1.0', '/web-img/swf/expressInstall.swf', flashvars, params, null, null);
    </script>

</head>
<body>
<div id="client-ui">
    <div id="flash-wrapper">
        <div id="flash-container">
            <div id="content" style="width: 400px; margin: 20px auto 0 auto; display: none">
                <p>FLASH NOT INSTALLED</p>

                <p><a href="https://www.adobe.com/go/getflashplayer"><img
                        src="{{gallery_url}}/web-img/habbo-web/stuff/get_flash_player.png"
                        alt="Get Adobe Flash player"/></a></p>
            </div>
        </div>
    </div>
    <div id="content" class="client-content"></div>
    <iframe id="page-content" class="hidden" allowtransparency="true" frameBorder="0" src="about:blank"></iframe>
</div>
</body>
</html>
