<div class="content">
    <div class="header">
        <div class="wrapper"><a href="{{global_url}}" class="habbo-image"></a></div>
    </div>
    <div class="wrapper">
        <div class="page-content">
            <div class="main">
                <div class="box with-bottom-error-image"><h1>{{lang_maintenance_title}}</h1>

                    <p>{{lang_maintenance_body}}</p></div>
            </div>
            <div class="aside"><a class="twitter-timeline" href="https://twitter.com/{{twitter_username}}"
                                  data-widget-id="{{twitter_id}}" height="400" width="300">{{lang_twitter_title}}</a>
                <script>!function (t, e, r) {
                    var n, s = t.getElementsByTagName(e)[0], i = /^http:/.test(t.location) ? "http" : "https";
                    t.getElementById(r) || (n = t.createElement(e), n.id = r, n.src = i + "://platform.twitter.com/widgets.js", s.parentNode.insertBefore(n, s))
                }(document, "script", "twitter-wjs")</script>
            </div>
        </div>
    </div>
    <div class="footer__push"></div>
</div>