<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="NOODP">
	<title>Habbo</title><!--[if (lte IE 9)|(IEMobile)]>
	<script>window.location = 'https://error.habbo.com/br/upgrade/';</script>
	<!--<![endif]-->
	<meta name="description"
	      content="Fa&#xE7;a o seu check-in no maior Hotel virtual do mundo DE GRA&#xC7;A! Voc&#xEA; poder&#xE1; fazer novos amigos, jogar e criar seus pr&#xF3;prios jogos, bater papo, construir seus quartos e muito mais!">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Habbo">
	<meta property="og:title" content="Habbo">
	<meta property="og:description"
	      content="Fa&#xE7;a o seu check-in no maior Hotel virtual do mundo DE GRA&#xC7;A! Voc&#xEA; poder&#xE1; fazer novos amigos, jogar e criar seus pr&#xF3;prios jogos, bater papo, construir seus quartos e muito mais!">
	<meta property="og:url" content="https://www.habbo.com.br" head-url="content">
	<meta property="og:image"
	      content="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/app_summary_image-1200x628.25a93413.png">
	<meta property="og:image:height" content="628">
	<meta property="og:image:width" content="1200">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Habbo">
	<meta name="twitter:description"
	      content="Fa&#xE7;a o seu check-in no maior Hotel virtual do mundo DE GRA&#xC7;A! Voc&#xEA; poder&#xE1; fazer novos amigos, jogar e criar seus pr&#xF3;prios jogos, bater papo, construir seus quartos e muito mais!">
	<meta name="twitter:image"
	      content="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/app_summary_image-1200x628.25a93413.png">
	<meta name="twitter:site" content="@HabboPTBR">
	<meta itemprop="name" content="Habbo">
	<meta itemprop="description"
	      content="Fa&#xE7;a o seu check-in no maior Hotel virtual do mundo DE GRA&#xC7;A! Voc&#xEA; poder&#xE1; fazer novos amigos, jogar e criar seus pr&#xF3;prios jogos, bater papo, construir seus quartos e muito mais!">
	<meta itemprop="image"
	      content="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/app_summary_image-1200x628.25a93413.png">
	<meta name="apple-itunes-app" content="app-id=794866182">
	<meta name="fragment" content="!">
	<meta name="revision" content="d1a83d6">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="prerender-status-code" prerender-status-code="">
	<meta name="prerender-header" prerender-header="">
	<link rel="stylesheet" href="https://habboo-a.akamaihd.net/habbo-web/america/pt/app.6fd63a06.css">
	<link rel="canonical" href="https://www.habbo.com.br" head-url="href">
	<link rel="shortcut icon"
	      href="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/favicon.08c747be.ico">
	<link rel="icon" sizes="196x196"
	      href="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/app_icon-196x196.e2d5a87d.png">
	<link rel="apple-touch-icon"
	      href="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/app_icon-60x60-precomposed.99edad69.png">
	<link rel="apple-touch-icon" sizes="76x76"
	      href="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/app_icon-76x76-precomposed.e106f3ac.png">
	<link rel="apple-touch-icon" sizes="120x120"
	      href="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/app_icon-120x120-precomposed.18320473.png">
	<link rel="apple-touch-icon" sizes="152x152"
	      href="https://habboo-a.akamaihd.net/habbo-web/america/pt/assets/images/app_icon-152x152-precomposed.7e6c3360.png">
	<link rel="alternate" type="application/rss+xml" href="https://www.habbo.com.br/rss.xml" title="Habbo News">
	<script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="1492699e4b5e2ef6b25d19d4e1b9e64e"
	        data-appversion="d1a83d6" data-releasestage="hhbr"></script>
	<script>!function () {
		if (window.Bugsnag) {
			var h = Date.now ();
			window.Bugsnag.notifyReleaseStages = [ "hhde", "hhus", "hhes", "hhfi", "hhfr", "hhit", "hhnl", "hhbr", "hhtr" ], window.Bugsnag.beforeNotify = function ( e ) {return e.metaData.secondsSincePageLoad = (Date.now () - h) / 1e3, /habbo\./.test ( e.url )}
		}
	} ();</script>
	<script>!function () {
		var e = document.createElement ( "link" ), t = document.getElementsByTagName ( "script" )[ 0 ];
		"http:" !== window.location.protocol && "https:" !== window.location.protocol && (e.href = "http:"), e.href += "//fonts.googleapis.com/css?family=Ubuntu:regular,bold|Ubuntu+Condensed:regular", e.rel = "stylesheet", e.type = "text/css", t.parentNode.insertBefore ( e, t )
	} ();</script>
	<script>window.prerenderReady = !1;</script>
	<script>window.session = null;
	window.geoLocation = { "country": "br", "continent": "sa" };
	window.partnerCodeInfo = null;
	window.systemData = { "open": true };</script>
</head>
<body client-disable-scrollbars="" ng-cloak="">
<section class="content">
	<ui-view></ui-view>
</section>
<footer-normal></footer-normal>
<div require-session="">
	<client></client>
</div>
<div require-no-session="">
	<eu-cookie-banner></eu-cookie-banner>
</div>
<script src="https://habboo-a.akamaihd.net/habbo-web/america/pt/vendor.726d0da6.js"></script>
<script src="https://habboo-a.akamaihd.net/habbo-web/america/pt/scripts.f50113d1.js"></script>
<script>!function ( e, n, a, o, t, r, i ) {e.GoogleAnalyticsObject = t, e[ t ] = e[ t ] || function () {(e[ t ].q = e[ t ].q || []).push ( arguments )}, e[ t ].l = 1 * new Date, r = n.createElement ( a ), i = n.getElementsByTagName ( a )[ 0 ], r.async = 1, r.src = o, i.parentNode.insertBefore ( r, i )} ( window, document, "script", "//www.google-analytics.com/analytics.js", "ga" ), ga ( "create", "UA-448325-57", "auto" ), ga ( "require", "ecommerce" ), ga ( "require", "linkid", "linkid.js" ), window.partnerCodeInfo && (ga ( "set", "campaignName", window.partnerCodeInfo.campaign ), ga ( "set", "campaignSource", window.partnerCodeInfo.theme || window.partnerCodeInfo.partner ), ga ( "set", "campaignMedium", window.partnerCodeInfo.media ));</script>
</body>
</html>