<h1>Information about Habbo purchases</h1>
<blockquote>
    <h4>Spending limits</h4>

    <p>Habbo has different spending limits for different payment options. They are all listed on our <a target="_blank"
                                                                                                        ng-href="{{'https://help.habbo.com/entries/347508-What-are-the-spending-limits-on-Habbo-' | zendeskRedirectUrl}}">Spending
        Limits page in Habbo Helpdesk</a>.</p>
</blockquote>
<h2>Our goodies</h2>
<p>Wondering what all those shiny things for sale in the HabboMall are? Here be answers.</p>
<h3>Habbo Club</h3>
<p><img src="https://images.habbo.com/c_images/HabboMallInfo/store_hc_2x.png" alt="Habbo Club" class="align-right"></p>
<p>Habbo Club is a special membership that gives you access to a huge list of awesome benefits! HC members get to enjoy
    the following exclusive goodies:</p>
<ul>
    <li>HC Badge</li>
    <li>Exclusive Hair + clothing styles</li>
    <li>Exclusive HC clothing colour palette</li>
    <li>FREE monthly gift</li>
    <li>Earning twice the amount of Duckets</li>
    <li>Wardrobe tool to save your stylish looks</li>
    <li>Ability to double your friends list (up to 1100!)</li>
    <li>Premium queue for public rooms</li>
    <li>Ability to create your own groups</li>
    <li>Exclusive HC room layouts</li>
    <li>Special commands, like :furni (select furni) and :chooser (select users)</li>
    <li>Additional dances, chat bubbles and actions</li>
</ul>
<p>Find out more about <a href="/shop">Habbo Club membership options</a>!</p>
<h3>Builders Club</h3>
<p><img src="https://images.habbo.com/c_images/HabboMallInfo/store_bc_2x.png" alt="Builders Club" class="align-right">
</p>
<p>Builders Club is a monthly subscription that puts a warehouse full of virtual furni and floor plan editor at your
    fingertips! You can build as much as you want with a large amount of furni and swap items as often as you&apos;d
    like. BC members get to enjoy the following exclusive benefits:</p>
<ul>
    <li>Extended furni limits:
        <ul>
            <li>500 for a 14-day membership</li>
            <li>1000 for a 31-day membership</li>
            <li>Or purchase even higher furni limits!</li>
        </ul>
    </li>
    <li>Furni limit extended by 250 each month by subscribing monthly</li>
    <li>Floor plan editor for custom room layouts</li>
    <li>Ability to unlock rooms containing BC furni and set to open, private and invisible</li>
    <li>Commands like :pickallbc and :floor</li>
    <li>Exclusive BC Achievement Badge</li>
</ul>
<p>Note: Furni limits never go down. If membership expires your furni limit remains the same and you can continue to
    build rooms. You must have an active subscription to unlock your rooms for visitors and navigator visibility.</p>
<p>Check out our <a href="/shop">Builders Club membership options</a>!</p>
<h3>Rares</h3>
<p>Rares are a special type of furni that are sold once and never again! Since Rares are in limited supply, they are
    often sought after in the marketplace and trading and are useful in making your room totally unique. Rares are sold
    through special offers to our most loyal and frequent Habbos - so make sure to visit the <a href="/shop">Buy
        page</a> often!</p>
<h3>Bundles</h3>
<p><img src="https://images.habbo.com/c_images/HabboMallInfo/store_bundles_2x.png" alt="Bundles" class="align-right">
</p>
<p>Bundles are pre-decorated rooms with a custom layout containing loads of cool furni and an exclusive badge. Some
    bundles even contain exclusive Rare furni! Purchasing a bundle will save you more than 50% of the cost, compared to
    building the room yourself bit by bit&#x2026; not to mention how much time you save!</p>
<p>See what <a href="/shop">Bundles are currently on offer</a>!</p>
<h3>Credits</h3>
<p><img src="https://images.habbo.com/c_images/HabboMallInfo/store_credits_5_2x.png" alt="Credits" class="align-right">
</p>
<p>Credits are the main currency we use in Habbo. You can purchase tons of cool things with Credits, including:</p>
<ul>
    <li>Habbo Club Membership</li>
    <li>Furni and decorations for your rooms</li>
    <li>Clothing and Effects for your avatar</li>
    <li>Habbo Exchange Furniture (such as Gold Bars that can be stacked in rooms or traded and are redeemable back to
        Credits)
    </li>
    <li>Bots, Pets and Gnomes</li>
    <li>Collectible Monster Plants</li>
    <li>Wired furni to design your own games</li>
    <li>Exclusive Rare and LTD Rare Furni</li>
</ul>
<p>WAIT - there&apos;s more! When you buy Credits, you get:</p>
<ul>
    <li>1 Diamond (see below) for every Credit purchased.</li>
    <li>BONUS 120 diamonds with every purchase of 120 credits in 1 month.</li>
    <li>A Bonus Rare with every 120 Credits purchased within 14 days.</li>
</ul>
<p><a href="/shop">Purchase Credits on the Buy page</a>!</p>
<h3>Diamonds</h3>
<p><img src="https://images.habbo.com/c_images/HabboMallInfo/store_credits_4_new_2x.png" alt="Diamonds"
        class="align-right"></p>
<p>Diamonds are a special currency that you receive when you purchase Credits. For every 1 Credit purchased, you will
    receive 1 Diamond! You can spend Diamonds on lots of exclusive things, including:</p>
<ul>
    <li>Exclusive items in the Diamond Shop</li>
    <li>Exclusive Exchange Furni (useful to exchange diamonds to credits for trading)</li>
    <li>Purchase Builders Club or Habbo Club membership with diamonds + credits</li>
    <li>Exclusive special offers</li>
</ul>
<p>You can only get Diamonds by purchasing Credits. When you buy Credits, you get:</p>
<ul>
    <li>One Diamond per Credit purchased</li>
    <li>A bonus of an extra 120 diamonds if buying 120 credits in the same month</li>
</ul>
<p><a href="/shop">Purchase Credits to get Diamonds</a>!</p>
