<h1>Habbo 15th birthday</h1>
<p><img src="https://habboo-a.akamaihd.net/c_images/habbo_15/h15_logo_webpage.png" alt="Habbo 15 promo"
        class="align-right"></p>
<p><code>*</code>HIP HIP HOORAY<code>*</code> It&apos;s our 15TH BIRTHDAY! We are ready to P-A-R-T-Y and have got a TON
    of birthday celebrations coming for you.</p>
<p>From <strong>1st of July</strong> to <strong>15th August</strong>, we have loads of amazing competitions, prizes,
    activities and furni coming your way:</p>
<ol>
    <li><strong>Grand Prize Photo Competition</strong></li>
    <li>5 &quot;Hall Of Fame&quot; competitions</li>
    <li>Daily <strong>FREE</strong> Habbo 15th Birthday Balloons</li>
</ol>
<p>Find out more in the video below! Scroll down for full details.</p>
<iframe src="//www.youtube.com/embed/0VymX1yiyNw" frameborder="0" width="640" height="390"></iframe><h2>Grand Prize
    Photo Competition</h2>
<p><img src="https://habboo-a.akamaihd.net/c_images/habbo_15/prizepack_1d.png" alt="Prizepack 1" class="align-right">
</p>
<p>From <strong>15th July</strong>, simply head over to Habbo, SNAP a photo and CLICK the <em>Submit</em> button, to
    enter for your chance to win some AWESOME prizes:</p>
<ul>
    <li><strong>GRAND PRIZE</strong> including:
        <ul>
            <li>a MacBook</li>
            <li>an iPhone 6</li>
            <li>Beats Headphones</li>
            <li>a Bluetooth Speaker</li>
            <li>a Go-Pro 3+ Silver</li>
            <li>12 months of Netflix and</li>
            <li>12 months of Spotify!</li>
        </ul>
    </li>
    <li><strong>OTHER PRIZES</strong> including Samsung Galaxy Tabs and Habbo Summer Packs (Habbo branded T-Shirt, Hat,
        and Sports Bottle)
    </li>
</ul>
<p><strong>Stay tuned: more details coming soon!</strong></p>
<h2>&quot;Hall Of Fame&quot; Competitions</h2>
<p>We are looking for the <strong>best creators</strong> in the Hotel: do you have what it takes? There are <strong>5
    Competitions</strong> waiting for you, one every week:</p>
<ol>
    <li>&quot;Block Building&quot; Competition: Open July 6 - July 12</li>
    <li>&quot;Design an Outfit&quot; Competition: Open July 13 - 19</li>
    <li>Room Design Competition: Open July 20 - 26</li>
    <li>Video Competition: Open July 27 - August 2</li>
    <li>&quot;Design a Rare&quot; Competition: Open August 3 - 11</li>
</ol>
<p><img src="https://habboo-a.akamaihd.net/c_images/habbo_15/prizepack_2e.png" alt="Prizepack 2" class="align-right">
</p>
<p>For each competition we are giving out some <strong>great prizes</strong> to everyone:</p>
<p><strong>1 Top Winner:</strong></p>
<ul>
    <li>A statue of the winner&apos;s avatar displayed in the &quot;Hall of Habbo&quot; public room</li>
    <li>A statue of the winner&apos;s avatar to the winner&apos;s inventory</li>
    <li>A special Furni delivered to the winner&apos;s inventory</li>
    <li>A Habbo T-shirt mailed to the winner&apos;s address</li>
    <li>A badge</li>
</ul>
<p><strong>2 Runners-Up:</strong></p>
<ul>
    <li>A custom Furni displayed in the &quot;Hall of Habbo&quot; public room</li>
    <li>A custom Furni delivered to the winner&apos;s inventory</li>
    <li>A badge</li>
</ul>
<p><strong>Accepted Entries:</strong></p>
<ul>
    <li>A badge</li>
</ul>
<p><strong>Stay tuned: more details coming soon!</strong></p>
<h2>15TH BIRTHDAY BALLOONS</h2>
<p><img src="https://habboo-a.akamaihd.net/c_images/habbo_15/prizepack_3d.png" alt="Prizepack 3" class="align-right">
</p>
<p>Visit the hotel <strong>everyday</strong> to receive a <strong>FREE Habbo 15th Birthday Balloon</strong>. From
    credits and rares, to duckets and BC subscriptions - You could win it all!</p>
<p>Balloons can be a little tricky to open sometimes, so we&apos;ve made a step-by-step guide to help you:</p>
<ol>
    <li><a href="/settings/email">Make sure your email is verified</a><code>*</code></li>
    <li>Log into Habbo.</li>
    <li>To find out what&apos;s inside, place the Balloon in your room and double-click it.</li>
</ol>
<p>You can get one Balloon every day you log into Habbo, starting from the 1st of July until the 15th of August.</p>
<p><code>*</code><em>If you log in using Facebook, Twitter, Google+,Yahoo! or Microsoft Live, you don&apos;t need to
    verify your account.</em></p>
